{
.appVersion = "3513";
.formatVersion = 3;
axes = (
{
name = Weight;
tag = wght;
}
);
customParameters = (
{
name = fsType;
value = (
);
},
{
name = unicodeRanges;
value = (
0,
1,
2,
20,
73
);
},
{
name = glyphOrder;
value = (
a-sinh,
aa-sinh,
ae-sinh,
aae-sinh,
i-sinh,
ii-sinh,
u-sinh,
uu-sinh,
vocalicr-sinh,
vocalicrr-sinh,
vocalicl-sinh,
vocalicll-sinh,
e-sinh,
ee-sinh,
ai-sinh,
o-sinh,
oo-sinh,
au-sinh,
ka-sinh,
kha-sinh,
ga-sinh,
gha-sinh,
nga-sinh,
nnga-sinh,
ca-sinh,
cha-sinh,
ja-sinh,
jha-sinh,
nya-sinh,
jnya-sinh,
nyja-sinh,
tta-sinh,
ttha-sinh,
dda-sinh,
ddha-sinh,
nna-sinh,
nndda-sinh,
ta-sinh,
tha-sinh,
da-sinh,
dha-sinh,
na-sinh,
nda-sinh,
pa-sinh,
pha-sinh,
ba-sinh,
bha-sinh,
ma-sinh,
mba-sinh,
ya-sinh,
ra-sinh,
la-sinh,
va-sinh,
sha-sinh,
ssa-sinh,
sa-sinh,
ha-sinh,
lla-sinh,
fa-sinh,
sinfPa,
kSsa-sinh,
kVa-sinh,
tVa-sinh,
tTha-sinh,
nDa-sinh,
nDha-sinh,
nVa-sinh,
nTha-sinh,
gDha-sinh,
dVa-sinh,
dDha-sinh,
ttTtha-sinh,
sinNyCa,
sinNyCha,
sinCCa,
sinBBa,
aasign-sinh,
aaesign-sinh,
aesign-sinh,
aisign-sinh,
ausign-sinh,
esign-sinh,
eesign-sinh,
isign-sinh,
iisign-sinh,
vocaliclsign-sinh,
vocalicllsign-sinh,
osign-sinh,
oosign-sinh,
vocalicrsign-sinh,
vocalicrrsign-sinh,
usign-sinh,
uusign-sinh,
usign-sinh.sub,
uusign-sinh.sub,
virama-sinh,
rasign-sinh,
repha-sinh,
yasign-sinh,
anusvaraya-sinh,
sinCandrabindu,
visargaya-sinh,
aasign-sinh,
aasign_virama-sinh,
sinTouch,
k-sinh,
kh-sinh,
g-sinh,
gh-sinh,
ng-sinh,
nng-sinh,
c-sinh,
ch-sinh,
j-sinh,
jh-sinh,
ny-sinh,
jny-sinh,
nyj-sinh,
tt-sinh,
tth-sinh,
dd-sinh,
ddh-sinh,
nn-sinh,
nndd-sinh,
t-sinh,
th-sinh,
d-sinh,
dh-sinh,
n-sinh,
nd-sinh,
p-sinh,
ph-sinh,
b-sinh,
bh-sinh,
m-sinh,
mb-sinh,
y-sinh,
r-sinh,
l-sinh,
v-sinh,
sh-sinh,
ss-sinh,
s-sinh,
h-sinh,
ll-sinh,
f-sinh,
sinfP,
kSs-sinh,
kV-sinh,
tV-sinh,
tTh-sinh,
nD-sinh,
nDh-sinh,
nV-sinh,
nTh-sinh,
sinGDh,
dV-sinh,
dDh-sinh,
ttTth-sinh,
sinNyC,
sinNyCh,
sinCC,
sinBB,
kI-sinh,
khI-sinh,
gI-sinh,
ghI-sinh,
ngI-sinh,
nngI-sinh,
cI-sinh,
chI-sinh,
jI-sinh,
jhI-sinh,
nyI-sinh,
jnyI-sinh,
nyjI-sinh,
ttI-sinh,
tthI-sinh,
ddI-sinh,
ddhI-sinh,
nnI-sinh,
nnddI-sinh,
tI-sinh,
thI-sinh,
dI-sinh,
dhI-sinh,
nI-sinh,
ndI-sinh,
pI-sinh,
phI-sinh,
bI-sinh,
bhI-sinh,
mI-sinh,
mbI-sinh,
yI-sinh,
rI-sinh,
lI-sinh,
vI-sinh,
shI-sinh,
ssI-sinh,
sI-sinh,
hI-sinh,
llI-sinh,
fI-sinh,
sinfPI,
kSsI-sinh,
kVI-sinh,
tVI-sinh,
tThI-sinh,
nDI-sinh,
nDhI-sinh,
nVI-sinh,
nThI-sinh,
sinGDhI,
dVI-sinh,
dDhI-sinh,
ttTthI-sinh,
sinNyCI,
sinNyChI,
sinCCI,
sinBBI,
kIi-sinh,
khIi-sinh,
gIi-sinh,
ghIi-sinh,
ngIi-sinh,
nngIi-sinh,
cIi-sinh,
chIi-sinh,
jIi-sinh,
jhIi-sinh,
nyIi-sinh,
jnyIi-sinh,
nyjIi-sinh,
ttIi-sinh,
tthIi-sinh,
ddIi-sinh,
ddhIi-sinh,
nnIi-sinh,
nnddIi-sinh,
tIi-sinh,
thIi-sinh,
dIi-sinh,
dhIi-sinh,
nIi-sinh,
ndIi-sinh,
pIi-sinh,
phIi-sinh,
bIi-sinh,
bhIi-sinh,
mIi-sinh,
mbIi-sinh,
yIi-sinh,
rIi-sinh,
lIi-sinh,
vIi-sinh,
shIi-sinh,
ssIi-sinh,
sIi-sinh,
hIi-sinh,
llIi-sinh,
fIi-sinh,
sinfPIi,
kSsIi-sinh,
kVIi-sinh,
tVIi-sinh,
tThIi-sinh,
nDIi-sinh,
nDhIi-sinh,
nVIi-sinh,
nThIi-sinh,
sinGDhIi,
dVIi-sinh,
dDhIi-sinh,
ttTthIi-sinh,
sinNyCIi,
sinNyChIi,
sinCCIi,
sinBBIi,
kU-sinh,
khU-sinh,
gU-sinh,
ghU-sinh,
sinNgU,
nngU-sinh,
cU-sinh,
chU-sinh,
jU-sinh,
jhU-sinh,
nyU-sinh,
jnyU-sinh,
nyjU-sinh,
ttU-sinh,
tthU-sinh,
ddU-sinh,
ddhU-sinh,
nnU-sinh,
nnddU-sinh,
tU-sinh,
thU-sinh,
dU-sinh,
dhU-sinh,
nU-sinh,
ndU-sinh,
pU-sinh,
phU-sinh,
bU-sinh,
bhU-sinh,
mU-sinh,
mbU-sinh,
yU-sinh,
rU-sinh,
lU-sinh,
vU-sinh,
shU-sinh,
ssU-sinh,
sU-sinh,
hU-sinh,
llU-sinh,
fU-sinh,
sinfPU,
kSsU-sinh,
kVU-sinh,
tVU-sinh,
tThU-sinh,
nDU-sinh,
nDhU-sinh,
nVU-sinh,
nThU-sinh,
sinGDhU,
dVU-sinh,
dDhU-sinh,
ttTthU-sinh,
sinNyCU,
sinNyChU,
sinCCU,
sinBBU,
kUu-sinh,
khUu-sinh,
gUu-sinh,
ghUu-sinh,
sinNgUu,
nngUu-sinh,
cUu-sinh,
chUu-sinh,
jUu-sinh,
jhUu-sinh,
nyUu-sinh,
jnyUu-sinh,
nyjUu-sinh,
ttUu-sinh,
tthUu-sinh,
ddUu-sinh,
ddhUu-sinh,
nnUu-sinh,
nnddUu-sinh,
tUu-sinh,
thUu-sinh,
dUu-sinh,
dhUu-sinh,
nUu-sinh,
ndUu-sinh,
pUu-sinh,
phUu-sinh,
bUu-sinh,
bhUu-sinh,
mUu-sinh,
mbUu-sinh,
yUu-sinh,
rUu-sinh,
lUu-sinh,
vUu-sinh,
shUu-sinh,
ssUu-sinh,
sUu-sinh,
hUu-sinh,
llUu-sinh,
fUu-sinh,
sinfPUu,
kSsUu-sinh,
kVUu-sinh,
tVUu-sinh,
tThUu-sinh,
nDUu-sinh,
nDhUu-sinh,
nVUu-sinh,
nThUu-sinh,
sinGDhUu,
dVUu-sinh,
dDhUu-sinh,
ttTthUu-sinh,
sinNyCUu,
sinNyChUu,
sinCCUu,
sinBBUu,
rAe-sinh,
rAae-sinh,
kRa-sinh,
khRa-sinh,
gRa-sinh,
ghRa-sinh,
sinNgRa,
sinNngRa,
cRa-sinh,
sinChRa,
jRa-sinh,
jhRa-sinh,
nyRa-sinh,
jnyRa-sinh,
nyjRa-sinh,
ttRa-sinh,
sinTthRa,
ddRa-sinh,
sinDdhRa,
sinNnRa,
sinNnddRa,
tRa-sinh,
sinThRa,
dRa-sinh,
dhRa-sinh,
sinNRa,
ndRa-sinh,
pRa-sinh,
sinPhRa,
bRa-sinh,
bhRa-sinh,
mRa-sinh,
sinMbRa,
sinYRa,
sinRRa,
sinLRa,
vRa-sinh,
shRa-sinh,
ssRa-sinh,
sRa-sinh,
hRa-sinh,
sinLlRa,
fRa-sinh,
sinfPRa,
sinKSsRa,
sinKVRa,
sinTVRa,
sinTThRa,
nDRa-sinh,
sinNDhRa,
sinNVRa,
sinNThRa,
sinGDhRa,
sinDVRa,
sinDDhRa,
sinTtTthRa,
sinNyCRa,
sinNyChRa,
sinCCRa,
sinBBRa,
kR-sinh,
khR-sinh,
gR-sinh,
ghR-sinh,
sinNgR,
sinNngR,
cR-sinh,
sinChR,
jR-sinh,
jhR-sinh,
nyR-sinh,
jnyR-sinh,
nyjR-sinh,
ttR-sinh,
sinTthR,
ddR-sinh,
sinDdhR,
sinNnR,
sinNnddR,
tR-sinh,
sinThR,
dR-sinh,
dhR-sinh,
sinNR,
sinNdR,
pR-sinh,
sinPhR,
bR-sinh,
bhR-sinh,
mR-sinh,
sinMbR,
sinYR,
sinRR,
sinLR,
vR-sinh,
shR-sinh,
ssR-sinh,
sR-sinh,
hR-sinh,
sinLlR,
fR-sinh,
sinfPR,
sinKSsR,
sinKVR,
sinTVR,
sinTThR,
sinNDR,
sinNDhR,
sinNVR,
sinNThR,
sinGDhR,
sinDVR,
sinDDhR,
sinTtTthR,
sinNyCR,
sinNyChR,
sinCCR,
sinBBR,
kRI-sinh,
khRI-sinh,
gRI-sinh,
ghRI-sinh,
sinNgRI,
sinNngRI,
cRI-sinh,
sinChRI,
jRI-sinh,
jhRI-sinh,
nyRI-sinh,
jnyRI-sinh,
sinNyjRI,
ttRI-sinh,
sinTthRI,
ddRI-sinh,
sinDdhRI,
sinNnRI,
sinNnddRI,
tRI-sinh,
sinThRI,
dRI-sinh,
dhRI-sinh,
sinNRI,
sinNdRI,
pRI-sinh,
sinPhRI,
bRI-sinh,
bhRI-sinh,
mRI-sinh,
sinMbRI,
sinYRI,
sinRRI,
sinLRI,
vRI-sinh,
shRI-sinh,
ssRI-sinh,
sRI-sinh,
hRI-sinh,
sinLlRI,
fRI-sinh,
sinfPRI,
sinKSsRI,
sinKVRI,
sinTVRI,
sinTThRI,
nDRI-sinh,
sinNDhRI,
sinNVRI,
sinNThRI,
sinGDhRI,
sinDVRI,
sinDDhRI,
sinTtTthRI,
sinNyCRI,
sinNyChRI,
sinCCRI,
sinBBRI,
kRIi-sinh,
khRIi-sinh,
gRIi-sinh,
ghRIi-sinh,
sinNgRIi,
sinNngRIi,
cRIi-sinh,
sinChRIi,
jRIi-sinh,
jhRIi-sinh,
nyRIi-sinh,
jnyRIi-sinh,
sinNyjRIi,
ttRIi-sinh,
sinTthRIi,
ddRIi-sinh,
sinDdhRIi,
sinNnRIi,
sinNnddRIi,
tRIi-sinh,
sinThRIi,
dRIi-sinh,
dhRIi-sinh,
sinNRIi,
sinNdRIi,
pRIi-sinh,
sinPhRIi,
bRIi-sinh,
bhRIi-sinh,
mRIi-sinh,
sinMbRIi,
sinYRIi,
sinRRIi,
sinLRIi,
vRIi-sinh,
shRIi-sinh,
ssRIi-sinh,
sRIi-sinh,
hRIi-sinh,
sinLlRIi,
fRIi-sinh,
sinfPRIi,
sinKSsRIi,
sinKVRIi,
sinTVRIi,
sinTThRIi,
nDRIi-sinh,
sinNDhRIi,
sinNVRIi,
sinNThRIi,
sinGDhRIi,
sinDVRIi,
sinDDhRIi,
sinTtTthRIi,
sinNyCRIi,
sinNyChRIi,
sinCCRIi,
sinBBRIi,
ka_repha-sinh,
kha_repha-sinh,
ga_repha-sinh,
gha_repha-sinh,
sinNga.reph,
sinNnga.reph,
ca_repha-sinh,
sinCha.reph,
ja_repha-sinh,
jha_repha-sinh,
nya_repha-sinh,
jnya_repha-sinh,
sinNyja.reph,
tta_repha-sinh,
sinTtha.reph,
dda_repha-sinh,
sinDdha.reph,
nna_repha-sinh,
sinNndda.reph,
ta_repha-sinh,
tha_repha-sinh,
da_repha-sinh,
dha_repha-sinh,
na_repha-sinh,
sinNda.reph,
pa_repha-sinh,
pha_repha-sinh,
ba_repha-sinh,
bha_repha-sinh,
ma_repha-sinh,
sinMba.reph,
ya_repha-sinh,
sinRa.reph,
sinLa.reph,
va_repha-sinh,
sha_repha-sinh,
ssa_repha-sinh,
sa_repha-sinh,
ha_repha-sinh,
sinLla.reph,
fa_repha-sinh,
sinfPa.reph,
sinKSsa.reph,
sinKVa.reph,
sinTVa.reph,
sinTTha.reph,
sinNDa.reph,
sinNDha.reph,
sinNVa.reph,
sinNTha.reph,
sinGDha.reph,
sinDVa.reph,
sinDDha.reph,
sinTtTtha.reph,
sinNyCa.reph,
sinNyCa.reph,
sinNyCha.reph,
sinCCa.reph,
sinBBa.reph,
yasign_isign-sinh,
yasign_iisign-sinh,
yasign_repha-sinh,
yasign-sinh,
yasign_repha_aasign-sinh,
yasign_uusign-sinh,
yasign_usign-sinh,
yasign_repha_usign-sinh,
yasign_repha_uusign-sinh,
yasign-sinh.alt,
sinDAe.ss01,
sinDAae.ss01,
sinDAa.ss01,
sinDvocR.ss01,
sinDvocRr.ss01,
sinDaYa.post.ss01,
sinDYAa.post.ss01,
sinDYu.post.ss01,
sinDYOo.post.ss01,
sinDYUu.post.ss01,
sinNdAe.ss01,
sinNdAa.ss01,
sinNdAae.ss01,
sinJnyAe.ss01,
sinJnyAee.ss01,
sinJnyAa.ss01,
sinNyAe.ss01,
sinNyAee.ss01,
sinNyAa.ss01,
sinNDAa.ss01,
sinNDAee.ss01,
sinNDAe.ss01,
sinDAa.virama.ss01,
sinNdAa.virama.ss01,
sinJnyAa.virama.ss01,
sinNyAa.virama.ss01,
sinNDAa.virama.ss01,
sinDRAa.ss01,
sinNdRAa.ss01,
taA,
taAa,
taI,
taIi,
taU,
taUu,
taE,
taEe,
taAi,
taO,
taOo,
taAu,
taKa,
taNga,
taCa,
taJa,
taNya,
taTta,
taNna,
taTa,
taNa,
taNnna,
taPa,
taMa,
taYa,
taRa,
taRra,
taLa,
taLla,
taLlla,
taVa,
taSha,
taSsa,
taSa,
taHa,
taOm,
taVisarga,
taTen,
taHundred,
taThousand,
taZero,
taOne,
taTwo,
taThree,
taFour,
taFive,
taSix,
taSeven,
taEight,
taNine,
taDay,
taMonth,
taYear,
taDebit,
taCredit,
taAbove,
taNumber,
taRupee,
taMatraIi,
taHalant,
taAnusvara,
taMatraAa,
taMatraI,
taMatraU,
taMatraUu,
taMatraE,
taMatraEe,
taMatraAi,
taMatraO,
taMatraOo,
taMatraAu,
taAuLengthmark,
taCI,
taCU,
taCUu,
taHI,
taJI,
taKI,
taKSsa,
taKU,
taKUu,
taLI,
taLU,
taLUu,
taLlI,
taLlU,
taLlUu,
taLllI,
taLllU,
taLllUu,
taMI,
taMU,
taMUu,
taNI,
taNU,
taNUu,
taNgI,
taNgUu,
taNnI,
taNnU,
taNnUu,
taNnnI,
taNnnU,
taNnnUu,
taNyI,
taNyU,
taNyUu,
taPI,
taPUu,
taRI,
taRU,
taRUu,
taRrI,
taRrU,
taRrUu,
taSI,
taShree,
taSsI,
taTI,
taTU,
taTUu,
taTtI,
taTtIi,
taTtU,
taTtUu,
taVI,
taVUu,
taYI,
taYUu,
taNnAa.alt,
taNnnAa.alt,
taRrAa.alt
);
},
{
name = "Use Typo Metrics";
value = 1;
},
{
name = "Write lastChange";
value = 0;
},
{
name = "Write DisplayStrings";
value = 0;
}
);
date = "2021-06-28 04:13:58 +0000";
familyName = "Stick No Bills";
featurePrefixes = (
{
code = "languagesystem DFLT dflt;
languagesystem sinh dflt;


";
name = Languagesystems;
},
{
code = "#---- --AKHN ------------

lookup sinakhands {
  sub ka-sinh virama-sinh zerowidthjoiner ssa-sinh by kSsa-sinh;
  sub ka-sinh virama-sinh zerowidthjoiner va-sinh by kVa-sinh;
  sub ta-sinh virama-sinh zerowidthjoiner va-sinh by tVa-sinh;
  sub ta-sinh virama-sinh zerowidthjoiner tha-sinh by tTha-sinh;
  sub na-sinh virama-sinh zerowidthjoiner da-sinh by nDa-sinh;
  sub na-sinh virama-sinh zerowidthjoiner va-sinh by nVa-sinh;
  sub na-sinh virama-sinh zerowidthjoiner dha-sinh by nDha-sinh;
  sub na-sinh virama-sinh zerowidthjoiner tha-sinh by nTha-sinh;
  sub da-sinh virama-sinh zerowidthjoiner va-sinh by dVa-sinh;
  sub da-sinh virama-sinh zerowidthjoiner dha-sinh by dDha-sinh;
  sub tta-sinh virama-sinh zerowidthjoiner ttha-sinh by ttTtha-sinh;
} sinakhands;

#---- REPH ----

lookup sinreph {
  sub ra-sinh virama-sinh zerowidthjoiner by repha-sinh;
} sinreph;

#---- HALN ----

lookup sin_virama {
  sub aasign-sinh virama-sinh by aasign-sinh;
  sub ka-sinh virama-sinh by k-sinh;
  sub kha-sinh virama-sinh by kh-sinh;
  sub ga-sinh virama-sinh by g-sinh;
  sub gha-sinh virama-sinh by gh-sinh;
  sub nga-sinh virama-sinh by ng-sinh;
  sub nnga-sinh virama-sinh by nng-sinh;
  sub ca-sinh virama-sinh by c-sinh;
  sub cha-sinh virama-sinh by ch-sinh;
  sub ja-sinh virama-sinh by j-sinh;
  sub jha-sinh virama-sinh by jh-sinh;
  sub nya-sinh virama-sinh by ny-sinh;
  sub jnya-sinh virama-sinh by jny-sinh;
  sub nyja-sinh virama-sinh by nyj-sinh;
  sub tta-sinh virama-sinh by tt-sinh;
  sub ttha-sinh virama-sinh by tth-sinh;
  sub dda-sinh virama-sinh by dd-sinh;
  sub ddha-sinh virama-sinh by ddh-sinh;
  sub nna-sinh virama-sinh by nn-sinh;
  sub nndda-sinh virama-sinh by nndd-sinh;
  sub ta-sinh virama-sinh by t-sinh;
  sub tha-sinh virama-sinh by th-sinh;
  sub da-sinh virama-sinh by d-sinh;
  sub dha-sinh virama-sinh by dh-sinh;
  sub na-sinh virama-sinh by n-sinh;
  sub nda-sinh virama-sinh by nd-sinh;
  sub pa-sinh virama-sinh by p-sinh;
  sub pha-sinh virama-sinh by ph-sinh;
  sub ba-sinh virama-sinh by b-sinh;
  sub bha-sinh virama-sinh by bh-sinh;
  sub ma-sinh virama-sinh by m-sinh;
  sub mba-sinh virama-sinh by mb-sinh;
  sub ya-sinh virama-sinh by y-sinh;
  sub ra-sinh virama-sinh by r-sinh;
  sub la-sinh virama-sinh by l-sinh;
  sub va-sinh virama-sinh by v-sinh;
  sub sha-sinh virama-sinh by sh-sinh;
  sub ssa-sinh virama-sinh by ss-sinh;
  sub sa-sinh virama-sinh by s-sinh;
  sub ha-sinh virama-sinh by h-sinh;
  sub lla-sinh virama-sinh by ll-sinh;
  sub fa-sinh virama-sinh by f-sinh;

  sub dVa-sinh virama-sinh by dV-sinh;
  sub kVa-sinh virama-sinh by kV-sinh;
  sub kSsa-sinh virama-sinh by kSs-sinh;
  sub nVa-sinh virama-sinh by nV-sinh;
  sub nDa-sinh  virama-sinh by nD-sinh;
  sub ttTtha-sinh virama-sinh by ttTth-sinh;
  sub dDha-sinh virama-sinh by dDh-sinh;
  sub tVa-sinh virama-sinh by tV-sinh;
  sub tTha-sinh virama-sinh by tTh-sinh;
  sub nDha-sinh virama-sinh by nDh-sinh;
  sub nTha-sinh virama-sinh by nTh-sinh;
  sub yasign-sinh virama-sinh by yasign-sinh;

  sub kRa-sinh virama-sinh by kR-sinh;
  sub khRa-sinh virama-sinh by khR-sinh;
  sub gRa-sinh virama-sinh by gR-sinh;
  sub ghRa-sinh virama-sinh by ghR-sinh;
  sub cRa-sinh virama-sinh by cR-sinh;
  sub jRa-sinh virama-sinh by jR-sinh;
  sub jhRa-sinh virama-sinh by jhR-sinh;
  sub nyRa-sinh virama-sinh by nyR-sinh;
  sub ttRa-sinh virama-sinh by ttR-sinh;
  sub jnyRa-sinh virama-sinh by jnyR-sinh;
  sub nyjRa-sinh virama-sinh by nyjR-sinh;
  sub ddRa-sinh virama-sinh by ddR-sinh;
  sub tRa-sinh virama-sinh by tR-sinh;
  sub dRa-sinh virama-sinh by dR-sinh;
  sub dhRa-sinh virama-sinh by dhR-sinh;
  sub pRa-sinh virama-sinh by pR-sinh;
  sub bhRa-sinh virama-sinh by bhR-sinh;
  sub mRa-sinh virama-sinh by mR-sinh;
  sub vRa-sinh virama-sinh by vR-sinh;
  sub shRa-sinh virama-sinh by shR-sinh;
  sub ssRa-sinh virama-sinh by ssR-sinh;
  sub sRa-sinh virama-sinh by sR-sinh;
  sub hRa-sinh virama-sinh by hR-sinh;
  sub fRa-sinh virama-sinh by fR-sinh;
  sub bRa-sinh virama-sinh by bR-sinh;
 } sin_virama;

#---- ABVS ----

lookup sinabvs_1 {
  sub ka-sinh isign-sinh by kI-sinh;
  sub kha-sinh isign-sinh by khI-sinh;
  sub ga-sinh isign-sinh by gI-sinh;
  sub gha-sinh isign-sinh by ghI-sinh;
  sub nga-sinh isign-sinh by ngI-sinh;
  sub nnga-sinh isign-sinh by nngI-sinh;
  sub ca-sinh isign-sinh by cI-sinh;
  sub cha-sinh isign-sinh by chI-sinh;
  sub ja-sinh isign-sinh by jI-sinh;
  sub jha-sinh isign-sinh by jhI-sinh;
  sub nya-sinh isign-sinh by nyI-sinh;
  sub jnya-sinh isign-sinh by jnyI-sinh;
  sub nyja-sinh isign-sinh by nyjI-sinh;
  sub tta-sinh isign-sinh by ttI-sinh;
  sub ttha-sinh isign-sinh by tthI-sinh;
  sub dda-sinh isign-sinh by ddI-sinh;
  sub ddha-sinh isign-sinh by ddhI-sinh;
  sub nna-sinh isign-sinh by nnI-sinh;
  sub nndda-sinh isign-sinh by nnddI-sinh;
  sub ta-sinh isign-sinh by tI-sinh;
  sub tha-sinh isign-sinh by thI-sinh;
  sub da-sinh isign-sinh by dI-sinh;
  sub dha-sinh isign-sinh by dhI-sinh;
  sub na-sinh isign-sinh by nI-sinh;
  sub nda-sinh isign-sinh by ndI-sinh;
  sub pa-sinh isign-sinh by pI-sinh;
  sub pha-sinh isign-sinh by phI-sinh;
  sub ba-sinh isign-sinh by bI-sinh;
  sub bha-sinh isign-sinh by bhI-sinh;
  sub ma-sinh isign-sinh by mI-sinh;
  sub mba-sinh isign-sinh by mbI-sinh;
  sub ya-sinh isign-sinh by yI-sinh;
  sub ra-sinh isign-sinh by rI-sinh;
  sub la-sinh isign-sinh by lI-sinh;
  sub va-sinh isign-sinh by vI-sinh;
  sub sha-sinh isign-sinh by shI-sinh;
  sub ssa-sinh isign-sinh by ssI-sinh;
  sub sa-sinh isign-sinh by sI-sinh;
  sub ha-sinh isign-sinh by hI-sinh;
  sub lla-sinh isign-sinh by llI-sinh;
  sub fa-sinh isign-sinh by fI-sinh;

  sub	kSsa-sinh	isign-sinh	by	kSsI-sinh;
  sub	kVa-sinh	isign-sinh	by	kVI-sinh;
  sub	tVa-sinh	isign-sinh	by	tVI-sinh;
  sub	tTha-sinh	isign-sinh	by	tThI-sinh;
  sub	nDa-sinh	isign-sinh	by	nDI-sinh;
  sub	nVa-sinh	isign-sinh	by	nVI-sinh;
  sub	nDha-sinh	isign-sinh	by	nDhI-sinh;
  sub	nTha-sinh	isign-sinh	by	nThI-sinh;
  sub	dVa-sinh	isign-sinh	by	dVI-sinh;
  sub	dDha-sinh	isign-sinh	by	dDhI-sinh;
  sub	ttTtha-sinh	isign-sinh	by	ttTthI-sinh;
  sub 	yasign-sinh	isign-sinh by yasign_isign-sinh;

  sub kRa-sinh isign-sinh by kRI-sinh;
  sub khRa-sinh isign-sinh by khRI-sinh;
  sub gRa-sinh isign-sinh by gRI-sinh;
  sub ghRa-sinh isign-sinh by ghRI-sinh;
  sub cRa-sinh isign-sinh by cRI-sinh;
  sub jRa-sinh isign-sinh by jRI-sinh;
  sub jhRa-sinh isign-sinh by jhRI-sinh;
  sub nyRa-sinh isign-sinh by nyRI-sinh;
  sub jnyRa-sinh isign-sinh by jnyRI-sinh;
  sub ttRa-sinh isign-sinh by ttRI-sinh;
  sub ddRa-sinh isign-sinh by ddRI-sinh;
  sub tRa-sinh isign-sinh by tRI-sinh;
  sub dRa-sinh isign-sinh by dRI-sinh;
  sub dhRa-sinh isign-sinh by dhRI-sinh;
  sub pRa-sinh isign-sinh by pRI-sinh;
  sub bRa-sinh isign-sinh by bRI-sinh;
  sub bhRa-sinh isign-sinh by bhRI-sinh;
  sub mRa-sinh isign-sinh by mRI-sinh;
  sub vRa-sinh isign-sinh by vRI-sinh;
  sub shRa-sinh isign-sinh by shRI-sinh;
  sub sRa-sinh isign-sinh by sRI-sinh;
  sub hRa-sinh isign-sinh by hRI-sinh;
  sub fRa-sinh isign-sinh by fRI-sinh;

} sinabvs_1;

lookup sinabvs_2 {
  sub ka-sinh iisign-sinh by kIi-sinh;
  sub kha-sinh iisign-sinh by khIi-sinh;
  sub ga-sinh iisign-sinh by gIi-sinh;
  sub gha-sinh iisign-sinh by ghIi-sinh;
  sub nga-sinh iisign-sinh by ngIi-sinh;
  sub nnga-sinh iisign-sinh by nngIi-sinh;
  sub ca-sinh iisign-sinh by cIi-sinh;
  sub cha-sinh iisign-sinh by chIi-sinh;
  sub ja-sinh iisign-sinh by jIi-sinh;
  sub jha-sinh iisign-sinh by jhIi-sinh;
  sub nya-sinh iisign-sinh by nyIi-sinh;
  sub jnya-sinh iisign-sinh by jnyIi-sinh;
  sub nyja-sinh iisign-sinh by nyjIi-sinh;
  sub tta-sinh iisign-sinh by ttIi-sinh;
  sub ttha-sinh iisign-sinh by tthIi-sinh;
  sub dda-sinh iisign-sinh by ddIi-sinh;
  sub ddha-sinh iisign-sinh by ddhIi-sinh;
  sub nna-sinh iisign-sinh by nnIi-sinh;
  sub nndda-sinh iisign-sinh by nnddIi-sinh;
  sub ta-sinh iisign-sinh by tIi-sinh;
  sub tha-sinh iisign-sinh by thIi-sinh;
  sub da-sinh iisign-sinh by dIi-sinh;
  sub dha-sinh iisign-sinh by dhIi-sinh;
  sub na-sinh iisign-sinh by nIi-sinh;
  sub nda-sinh iisign-sinh by ndIi-sinh;
  sub pa-sinh iisign-sinh by pIi-sinh;
  sub pha-sinh iisign-sinh by phIi-sinh;
  sub ba-sinh iisign-sinh by bIi-sinh;
  sub bha-sinh iisign-sinh by bhIi-sinh;
  sub ma-sinh iisign-sinh by mIi-sinh;
  sub mba-sinh iisign-sinh by mbIi-sinh;
  sub ya-sinh iisign-sinh by yIi-sinh;
  sub ra-sinh iisign-sinh by rIi-sinh;
  sub la-sinh iisign-sinh by lIi-sinh;
  sub va-sinh iisign-sinh by vIi-sinh;
  sub sha-sinh iisign-sinh by shIi-sinh;
  sub ssa-sinh iisign-sinh by ssIi-sinh;
  sub sa-sinh iisign-sinh by sIi-sinh;
  sub ha-sinh iisign-sinh by hIi-sinh;
  sub lla-sinh iisign-sinh by llIi-sinh;
  sub fa-sinh iisign-sinh by fIi-sinh;
  sub yasign-sinh iisign-sinh by yasign_iisign-sinh;

  sub	kSsa-sinh	iisign-sinh	by	kSsIi-sinh;
  sub	kVa-sinh	iisign-sinh	by	kVIi-sinh;
  sub	tVa-sinh	iisign-sinh	by	tVIi-sinh;
  sub	tTha-sinh	iisign-sinh	by	tThIi-sinh;
  sub	nDa-sinh	iisign-sinh	by	nDIi-sinh;
  sub	nVa-sinh	iisign-sinh	by	nVIi-sinh;
  sub	nDha-sinh	iisign-sinh	by	nDhIi-sinh;
  sub	nTha-sinh	iisign-sinh	by	nThIi-sinh;
  sub	dVa-sinh	iisign-sinh	by	dVIi-sinh;
  sub	dDha-sinh	iisign-sinh	by	dDhIi-sinh;
  sub	ttTtha-sinh	iisign-sinh	by	ttTthIi-sinh;
  sub 	yasign-sinh iisign-sinh by yasign_iisign-sinh;

  sub kRa-sinh iisign-sinh by kRIi-sinh;
  sub khRa-sinh iisign-sinh by khRIi-sinh;
  sub gRa-sinh iisign-sinh by gRIi-sinh;
  sub ghRa-sinh iisign-sinh by ghRIi-sinh;
  sub cRa-sinh iisign-sinh by cRIi-sinh;
  sub jRa-sinh iisign-sinh by jRIi-sinh;
  sub jhRa-sinh iisign-sinh by jhRIi-sinh;
  sub nyRa-sinh iisign-sinh by nyRIi-sinh;
  sub jnyRa-sinh iisign-sinh by jnyRIi-sinh;
  sub ttRa-sinh iisign-sinh by ttRIi-sinh;
  sub ddRa-sinh iisign-sinh by ddRIi-sinh;
  sub tRa-sinh iisign-sinh by tRIi-sinh;
  sub dRa-sinh iisign-sinh by dRIi-sinh;
  sub dhRa-sinh iisign-sinh by dhRIi-sinh;
  sub pRa-sinh iisign-sinh by pRIi-sinh;
  sub bRa-sinh iisign-sinh by bRIi-sinh;
  sub bhRa-sinh iisign-sinh by bhRIi-sinh;
  sub mRa-sinh iisign-sinh by mRIi-sinh;
  sub vRa-sinh iisign-sinh by vRIi-sinh;
  sub shRa-sinh iisign-sinh by shRIi-sinh;
  sub sRa-sinh iisign-sinh by sRIi-sinh;
  sub hRa-sinh iisign-sinh by hRIi-sinh;
  sub fRa-sinh iisign-sinh by fRIi-sinh;

} sinabvs_2;



lookup sinabvs_3 {
  sub yasign-sinh repha-sinh by yasign_repha-sinh;
  sub yasign-sinh aasign-sinh repha-sinh  by yasign_repha_aasign-sinh;
  sub yasign-sinh usign-sinh repha-sinh  by yasign_repha_usign-sinh;
  sub yasign-sinh uusign-sinh repha-sinh  by yasign_repha_uusign-sinh;
  sub ka-sinh repha-sinh by ka_repha-sinh;
  sub kha-sinh repha-sinh by kha_repha-sinh;
  sub ga-sinh repha-sinh by ga_repha-sinh;
  sub gha-sinh repha-sinh by gha_repha-sinh;
  sub ca-sinh repha-sinh by ca_repha-sinh;
  sub ja-sinh repha-sinh by ja_repha-sinh;
  sub tta-sinh repha-sinh by tta_repha-sinh;
  sub dda-sinh repha-sinh by dda_repha-sinh;
  sub nna-sinh repha-sinh by nna_repha-sinh;
  sub ta-sinh repha-sinh by ta_repha-sinh;
  sub tha-sinh repha-sinh by tha_repha-sinh;
  sub da-sinh repha-sinh by da_repha-sinh;
  sub dha-sinh repha-sinh by dha_repha-sinh;
  sub pa-sinh repha-sinh by pa_repha-sinh;
  sub ba-sinh repha-sinh by ba_repha-sinh;
  sub bha-sinh repha-sinh by bha_repha-sinh;
  sub ma-sinh repha-sinh by ma_repha-sinh;
  sub ya-sinh repha-sinh by ya_repha-sinh;
  sub va-sinh repha-sinh by va_repha-sinh;
  sub sha-sinh repha-sinh by sha_repha-sinh;
  sub ssa-sinh repha-sinh by ssa_repha-sinh;
  sub sa-sinh repha-sinh by sa_repha-sinh;
  sub ha-sinh repha-sinh by ha_repha-sinh;
  sub na-sinh repha-sinh by na_repha-sinh;
  sub jha-sinh repha-sinh by jha_repha-sinh;
  sub nya-sinh repha-sinh by nya_repha-sinh;
  sub jnya-sinh repha-sinh by jnya_repha-sinh;
} sinabvs_3;



#----------- BLWS --------------
#-------------------------------

lookup sinblws_1 {
  sub ka-sinh usign-sinh by kU-sinh;
  sub kha-sinh usign-sinh by khU-sinh;
  sub ga-sinh usign-sinh by gU-sinh;
  sub gha-sinh usign-sinh by ghU-sinh;
  sub nnga-sinh usign-sinh by nngU-sinh;
  sub ca-sinh usign-sinh by cU-sinh;
  sub cha-sinh usign-sinh by chU-sinh;
  sub ja-sinh usign-sinh by jU-sinh;
  sub jha-sinh usign-sinh by jhU-sinh;
  sub nya-sinh usign-sinh by nyU-sinh;
  sub jnya-sinh usign-sinh by jnyU-sinh;
  sub nyja-sinh usign-sinh by nyjU-sinh;
  sub tta-sinh usign-sinh by ttU-sinh;
  sub ttha-sinh usign-sinh by tthU-sinh;
  sub dda-sinh usign-sinh by ddU-sinh;
  sub ddha-sinh usign-sinh by ddhU-sinh;
  sub nna-sinh usign-sinh by nnU-sinh;
  sub nndda-sinh usign-sinh by nnddU-sinh;
  sub ta-sinh usign-sinh by tU-sinh;
  sub tha-sinh usign-sinh by thU-sinh;
  sub da-sinh usign-sinh by dU-sinh;
  sub dha-sinh usign-sinh by dhU-sinh;
  sub na-sinh usign-sinh by nU-sinh;
  sub nda-sinh usign-sinh by ndU-sinh;
  sub pa-sinh usign-sinh by pU-sinh;
  sub pha-sinh usign-sinh by phU-sinh;
  sub ba-sinh usign-sinh by bU-sinh;
  sub bha-sinh usign-sinh by bhU-sinh;
  sub ma-sinh usign-sinh by mU-sinh;
  sub mba-sinh usign-sinh by mbU-sinh;
  sub ya-sinh usign-sinh by yU-sinh;
  sub ra-sinh usign-sinh by rU-sinh;
  sub la-sinh usign-sinh by lU-sinh;
  sub va-sinh usign-sinh by vU-sinh;
  sub sha-sinh usign-sinh by shU-sinh;
  sub ssa-sinh usign-sinh by ssU-sinh;
  sub sa-sinh usign-sinh by sU-sinh;
  sub ha-sinh usign-sinh by hU-sinh;
  sub lla-sinh usign-sinh by llU-sinh;
  sub fa-sinh usign-sinh by fU-sinh;

  sub	kSsa-sinh usign-sinh	by	kSsU-sinh;
  sub	kVa-sinh usign-sinh	by	kVU-sinh;
  sub	tVa-sinh usign-sinh	by	tVU-sinh;
  sub	tTha-sinh usign-sinh	by	tThU-sinh;
  sub	nDa-sinh usign-sinh	by	nDU-sinh;
  sub	nVa-sinh usign-sinh	by	nVU-sinh;
  sub	nDha-sinh usign-sinh	by	nDhU-sinh;
  sub	nTha-sinh usign-sinh	by	nThU-sinh;
  sub	dVa-sinh usign-sinh	by	dVU-sinh;
  sub	dDha-sinh usign-sinh	by	dDhU-sinh;
  sub	ttTtha-sinh	usign-sinh	by	ttTthU-sinh;
  sub yasign-sinh usign-sinh by yasign_usign-sinh;
} sinblws_1;

lookup sinblws_2 {
  sub ka-sinh uusign-sinh by kUu-sinh;
  sub kha-sinh uusign-sinh by khUu-sinh;
  sub ga-sinh uusign-sinh by gUu-sinh;
  sub gha-sinh uusign-sinh by ghUu-sinh;
  sub nnga-sinh uusign-sinh by nngUu-sinh;
  sub ca-sinh uusign-sinh by cUu-sinh;
  sub cha-sinh uusign-sinh by chUu-sinh;
  sub ja-sinh uusign-sinh by jUu-sinh;
  sub jha-sinh uusign-sinh by jhUu-sinh;
  sub nya-sinh uusign-sinh by nyUu-sinh;
  sub jnya-sinh uusign-sinh by jnyUu-sinh;
  sub nyja-sinh uusign-sinh by nyjUu-sinh;
  sub tta-sinh uusign-sinh by ttUu-sinh;
  sub ttha-sinh uusign-sinh by tthUu-sinh;
  sub dda-sinh uusign-sinh by ddUu-sinh;
  sub ddha-sinh uusign-sinh by ddhUu-sinh;
  sub nna-sinh uusign-sinh by nnUu-sinh;
  sub nndda-sinh uusign-sinh by nnddUu-sinh;
  sub ta-sinh uusign-sinh by tUu-sinh;
  sub tha-sinh uusign-sinh by thUu-sinh;
  sub da-sinh uusign-sinh by dUu-sinh;
  sub dha-sinh uusign-sinh by dhUu-sinh;
  sub na-sinh uusign-sinh by nUu-sinh;
  sub nda-sinh uusign-sinh by ndUu-sinh;
  sub pa-sinh uusign-sinh by pUu-sinh;
  sub pha-sinh uusign-sinh by phUu-sinh;
  sub ba-sinh uusign-sinh by bUu-sinh;
  sub bha-sinh uusign-sinh by bhUu-sinh;
  sub ma-sinh uusign-sinh by mUu-sinh;
  sub mba-sinh uusign-sinh by mbUu-sinh;
  sub ya-sinh uusign-sinh by yUu-sinh;
  sub ra-sinh uusign-sinh by rUu-sinh;
  sub la-sinh uusign-sinh by lUu-sinh;
  sub va-sinh uusign-sinh by vUu-sinh;
  sub sha-sinh uusign-sinh by shUu-sinh;
  sub ssa-sinh uusign-sinh by ssUu-sinh;
  sub sa-sinh uusign-sinh by sUu-sinh;
  sub ha-sinh uusign-sinh by hUu-sinh;
  sub lla-sinh uusign-sinh by llUu-sinh;
  sub fa-sinh uusign-sinh by fUu-sinh;
  
   sub	kSsa-sinh	uusign-sinh	by	kSsUu-sinh;
  sub	kVa-sinh	uusign-sinh	by	kVUu-sinh;
  sub	tVa-sinh	uusign-sinh	by	tVUu-sinh;
  sub	tTha-sinh	uusign-sinh	by	tThUu-sinh;
  sub	nDa-sinh	uusign-sinh	by	nDUu-sinh;
  sub	nVa-sinh	uusign-sinh	by	nVUu-sinh;
  sub	nDha-sinh	uusign-sinh	by	nDhUu-sinh;
  sub	nTha-sinh	uusign-sinh	by	nThUu-sinh;
  sub	dVa-sinh	uusign-sinh	by	dVUu-sinh;
  sub	dDha-sinh	uusign-sinh	by	dDhUu-sinh;
  sub	ttTtha-sinh	uusign-sinh	by	ttTthUu-sinh;
  sub yasign-sinh uusign-sinh by yasign_uusign-sinh;
} sinblws_2;



lookup sinblws_3 {
  sub [kRa-sinh khRa-sinh gRa-sinh ghRa-sinh cRa-sinh jRa-sinh jhRa-sinh nyRa-sinh ttRa-sinh jnyRa-sinh nyjRa-sinh ddRa-sinh tRa-sinh dRa-sinh dhRa-sinh pRa-sinh bhRa-sinh mRa-sinh vRa-sinh shRa-sinh ssRa-sinh sRa-sinh hRa-sinh fRa-sinh nDRa-sinh bRa-sinh kRa-sinh khRa-sinh gRa-sinh ghRa-sinh cRa-sinh jRa-sinh jhRa-sinh nyRa-sinh ttRa-sinh jnyRa-sinh nyjRa-sinh ddRa-sinh tRa-sinh dRa-sinh dhRa-sinh pRa-sinh bhRa-sinh mRa-sinh vRa-sinh shRa-sinh ssRa-sinh sRa-sinh hRa-sinh fRa-sinh nDRa-sinh bRa-sinh ] usign-sinh' by usign-sinh.sub;
  sub [kRa-sinh khRa-sinh gRa-sinh ghRa-sinh cRa-sinh jRa-sinh jhRa-sinh nyRa-sinh ttRa-sinh jnyRa-sinh nyjRa-sinh ddRa-sinh tRa-sinh dRa-sinh dhRa-sinh pRa-sinh bhRa-sinh mRa-sinh vRa-sinh shRa-sinh ssRa-sinh sRa-sinh hRa-sinh fRa-sinh nDRa-sinh bRa-sinh kRa-sinh khRa-sinh gRa-sinh ghRa-sinh cRa-sinh jRa-sinh jhRa-sinh nyRa-sinh ttRa-sinh jnyRa-sinh nyjRa-sinh ddRa-sinh tRa-sinh dRa-sinh dhRa-sinh pRa-sinh bhRa-sinh mRa-sinh vRa-sinh shRa-sinh ssRa-sinh sRa-sinh hRa-sinh fRa-sinh nDRa-sinh bRa-sinh ] uusign-sinh' by uusign-sinh.sub;
} sinblws_3;

#----------- Yansaya --------------
#-------------------------------

lookup sin_vatu {
  sub virama-sinh zerowidthjoiner ya-sinh by yasign-sinh;
  sub virama-sinh zerowidthjoiner ra-sinh by rasign-sinh;
} sin_vatu;

#----------- Rae, Raae --------------
#-------------------------------

lookup sin_psts {
  sub ra-sinh aesign-sinh by rAe-sinh;
  sub ra-sinh aaesign-sinh by rAae-sinh;
}  sin_psts;

#----------- Rakaar ------------
#-------------------------------

lookup sinrakaar {
  sub ka-sinh rasign-sinh by kRa-sinh;
  sub kha-sinh rasign-sinh by khRa-sinh;
  sub ga-sinh rasign-sinh by gRa-sinh;
  sub gha-sinh rasign-sinh by ghRa-sinh;
  sub ca-sinh rasign-sinh by cRa-sinh;
  sub ja-sinh rasign-sinh by jRa-sinh;
  sub jha-sinh rasign-sinh by jhRa-sinh;
  sub nya-sinh rasign-sinh by nyRa-sinh;
  sub tta-sinh rasign-sinh by ttRa-sinh;
  sub jnya-sinh rasign-sinh by jnyRa-sinh;
  sub nyja-sinh rasign-sinh by nyjRa-sinh;
  sub dda-sinh rasign-sinh by ddRa-sinh;
  sub ta-sinh rasign-sinh by tRa-sinh;
  sub da-sinh rasign-sinh by dRa-sinh;
  sub dha-sinh rasign-sinh by dhRa-sinh;
  sub pa-sinh rasign-sinh by pRa-sinh;
  sub bha-sinh rasign-sinh by bhRa-sinh;
  sub ma-sinh rasign-sinh by mRa-sinh;
  sub va-sinh rasign-sinh by vRa-sinh;
  sub sha-sinh rasign-sinh by shRa-sinh;
  sub ssa-sinh rasign-sinh by ssRa-sinh;
  sub sa-sinh rasign-sinh by sRa-sinh;
  sub ha-sinh rasign-sinh by hRa-sinh;
  sub fa-sinh rasign-sinh by fRa-sinh;
  sub nDa-sinh rasign-sinh by nDRa-sinh;
  sub ba-sinh rasign-sinh by bRa-sinh;
} sinrakaar;

#----------- Split Matras ------------
#-------------------------------------

lookup sinsplit_matra {
  sub eesign-sinh by virama-sinh;
  sub osign-sinh by aasign-sinh;
  sub oosign-sinh by aasign_virama-sinh;
  sub ausign-sinh by vocalicllsign-sinh;
} sinsplit_matra;";
name = Prefix;
},
{
code = "@TA_MATRA_U_1 = [ taNga taPa taYa taVa ];

#---- AKHN ----

lookup akhands {
    sub taKa taHalant taSsa by taKSsa;
    sub taSha taHalant taRa taMatraIi by taShree;
    sub taSa taHalant taRa taMatraIi by taShree;
    
} akhands;



#---- ABVS ----

lookup above_base_sub_1 {
sub taKa	taMatraI	by	taKI	;
sub taNga	taMatraI	by	taNgI	;
sub taCa	taMatraI	by	taCI	;
sub taNya	taMatraI	by	taNyI	;
sub taTta	taMatraI	by	taTtI	;
sub taNna	taMatraI	by	taNnI	;
sub taTa	taMatraI	by	taTI	;
sub taNa	taMatraI	by	taNI	;
sub taPa	taMatraI	by	taPI	;
sub taMa	taMatraI	by	taMI	;
sub taYa	taMatraI	by	taYI	;
sub taRa	taMatraI	by	taRI	;
sub taLa	taMatraI	by	taLI	;
sub taVa	taMatraI	by	taVI	;
sub taLlla	taMatraI	by	taLllI	;
sub taLla	taMatraI	by	taLlI	;
sub taRra	taMatraI	by	taRrI	;
sub taNnna	taMatraI	by	taNnnI	;
sub taJa	taMatraI	by	taJI	;
sub taSsa	taMatraI	by	taSsI	;
sub taSa	taMatraI	by	taSI	;
sub taHa	taMatraI	by	taHI	;
sub taKSsa	taMatraI	by	taKSsI	;
sub taSha	taMatraI	by	taShI	;
} above_base_sub_1;

lookup above_base_sub_2 {
sub taKa	taMatraIi	by	taKIi	;
sub taNga	taMatraIi	by	taNgIi	;
sub taCa	taMatraIi	by	taCIi	;
sub taNya	taMatraIi	by	taNyIi	;
sub taTta	taMatraIi	by	taTtIi	;
sub taNna	taMatraIi	by	taNnIi	;
sub taTa	taMatraIi	by	taTIi	;
sub taNa	taMatraIi	by	taNIi	;
sub taPa	taMatraIi	by	taPIi	;
sub taMa	taMatraIi	by	taMIi	;
sub taYa	taMatraIi	by	taYIi	;
sub taRa	taMatraIi	by	taRIi	;
sub taLa	taMatraIi	by	taLIi	;
sub taVa	taMatraIi	by	taVIi	;
sub taLlla	taMatraIi	by	taLllIi	;
sub taLla	taMatraIi	by	taLlIi	;
sub taRra	taMatraIi	by	taRrIi	;
sub taNnna	taMatraIi	by	taNnnIi	;
sub taJa	taMatraIi	by	taJIi	;
sub taSsa	taMatraIi	by	taSsIi	;
sub taSa	taMatraIi	by	taSIi	;
sub taHa	taMatraIi	by	taHIi	;
sub taKSsa	taMatraIi	by	taKSsIi	;
sub taSha	taMatraIi	by	taShIi	;

 } above_base_sub_2;

#---- PSTS ----

lookup post_base_sub_1 {
    sub taKa taMatraU by taKU;
    sub taCa taMatraU by taCU;
    sub taNya taMatraU by taNyU;
    sub taTta taMatraU by taTtU;
    sub taNna taMatraU by taNnU;
    sub taTa taMatraU by taTU;
    sub taNa taMatraU by taNU;
    sub taNnna taMatraU by taNnnU;
    sub taPa taMatraU by taPU;
	sub taMa taMatraU by taMU;
    sub taRa taMatraU by taRU;
    sub taRra taMatraU by taRrU;
    sub taLa taMatraU by taLU;
    sub taLla taMatraU by taLlU;
    sub taLlla taMatraU by taLllU;
    sub taJa taMatraU by taJU;
    sub taSa taMatraU by taSU;
    sub taSsa taMatraU by taSsU;
    sub taKSsa taMatraU by taKSsU;
    sub taHa taMatraU by taHU;



} post_base_sub_1;

lookup post_base_sub_2 {
    sub taKa taMatraUu by taKUu;
    sub taNga taMatraUu by taNgUu;
    sub taCa taMatraUu by taCUu;
    sub taNya taMatraUu by taNyUu;
    sub taTta taMatraUu by taTtUu;
    sub taNna taMatraUu by taNnUu;
    sub taTa taMatraUu by taTUu;
    sub taNa taMatraUu by taNUu;
    sub taNnna taMatraUu by taNnnUu;
    sub taPa taMatraUu by taPUu;
    sub taYa taMatraUu by taYUu;
    sub taMa taMatraUu by taMUu;
    sub taRa taMatraUu by taRUu;
    sub taRra taMatraUu by taRrUu;
    sub taLa taMatraUu by taLUu;
    sub taLla taMatraUu by taLlUu;
    sub taLlla taMatraUu by taLllUu;
    sub taVa taMatraUu by taVUu;
    sub taJa taMatraUu by taJUu;
    sub taSsa taMatraUu by taSsUu;
    sub taKSsa taMatraUu by taKSsUu;
    sub taHa taMatraUu by taHUu;

 } post_base_sub_2;


lookup post_base_sub_3{
    sub @TA_MATRA_U_1 taMatraU' by taMatraU.alt1;
 } post_base_sub_3;








";
name = Prefix;
}
);
features = (
{
automatic = 1;
code = "feature sups;
feature frac;
feature ordn;
";
tag = aalt;
},
{
automatic = 1;
code = "sub one by onesuperior;
sub two by twosuperior;
sub three by threesuperior;
";
tag = sups;
},
{
automatic = 1;
code = "sub one slash four by onequarter;
sub one slash two by onehalf;
sub three slash four by threequarters;
";
tag = frac;
},
{
automatic = 1;
code = "sub [zero one two three four five six seven eight nine] [A a]' by ordfeminine;
sub [zero one two three four five six seven eight nine] [O o]' by ordmasculine;
";
tag = ordn;
},
{
automatic = 1;
code = "sub f i by fi;
sub f l by fl;
";
tag = liga;
},
{
code = "  script sinh;
      lookup sinakhands;
";
tag = akhn;
},
{
code = "  script sinh;
      lookup sinreph;";
tag = rphf;
},
{
code = "  script sinh;
      lookup sin_vatu;
      lookup sinrakaar;
";
tag = vatu;
},
{
code = "  script sinh;
      lookup sinsplit_matra;";
tag = pstf;
},
{
code = "  script sinh;
      lookup sin_virama;
      lookup sinabvs_1;
      lookup sinabvs_2;
      lookup sinabvs_3;
";
tag = abvs;
},
{
code = "  script sinh;
      lookup sinblws_1;
      lookup sinblws_2;
      lookup sinblws_3;";
tag = blws;
},
{
code = "  script sinh;
      lookup sin_psts;";
tag = psts;
}
);
fontMaster = (
{
axesValues = (
0
);
customParameters = (
{
name = typoAscender;
value = 940;
},
{
name = typoDescender;
value = -312;
},
{
name = typoLineGap;
value = 0;
},
{
name = hheaAscender;
value = 940;
},
{
name = hheaDescender;
value = -312;
},
{
name = hheaLineGap;
value = 0;
},
{
name = winAscent;
value = 1237;
},
{
name = winDescent;
value = 622;
}
);
guides = (
{
pos = (667,479);
},
{
pos = (-3,596);
}
);
iconName = Light;
id = "DC4431BF-9234-4C16-9154-22D387E42D10";
metricValues = (
{
over = 16;
pos = 870;
},
{
pos = 700;
},
{
pos = 515;
},
{
over = -6;
},
{
over = -16;
pos = -220;
},
{
}
);
name = ExtraLight;
userData = {
GSExtrudeAngle = 30;
GSExtrudeOffset = 15;
};
visible = 1;
},
{
axesValues = (
100
);
customParameters = (
{
name = typoAscender;
value = 940;
},
{
name = typoDescender;
value = -312;
},
{
name = typoLineGap;
value = 0;
},
{
name = hheaAscender;
value = 940;
},
{
name = hheaDescender;
value = -312;
},
{
name = hheaLineGap;
value = 0;
},
{
name = winAscent;
value = 1237;
},
{
name = winDescent;
value = 622;
}
);
guides = (
{
pos = (288,575);
},
{
pos = (62,0);
},
{
pos = (21,906);
},
{
pos = (173,-220);
},
{
pos = (22,870);
},
{
pos = (145,535);
},
{
pos = (103,626);
},
{
pos = (112,734);
},
{
pos = (48,850);
}
);
iconName = Bold;
id = "4EACF7E3-2421-4EEA-928B-7BA9BC4A845D";
metricValues = (
{
over = 16;
pos = 870;
},
{
pos = 700;
},
{
pos = 570;
},
{
over = -6;
},
{
over = -16;
pos = -220;
},
{
}
);
name = ExtraBold;
visible = 1;
}
);
instances = (
{
axesValues = (
0
);
instanceInterpolations = {
"DC4431BF-9234-4C16-9154-22D387E42D10" = 1;
};
name = ExtraLight;
weightClass = 200;
},
{
axesValues = (
20
);
instanceInterpolations = {
"4EACF7E3-2421-4EEA-928B-7BA9BC4A845D" = 0.2;
"DC4431BF-9234-4C16-9154-22D387E42D10" = 0.8;
};
name = Light;
weightClass = 300;
},
{
axesValues = (
40
);
instanceInterpolations = {
"4EACF7E3-2421-4EEA-928B-7BA9BC4A845D" = 0.4;
"DC4431BF-9234-4C16-9154-22D387E42D10" = 0.6;
};
name = Regular;
},
{
axesValues = (
50
);
instanceInterpolations = {
"4EACF7E3-2421-4EEA-928B-7BA9BC4A845D" = 0.5;
"DC4431BF-9234-4C16-9154-22D387E42D10" = 0.5;
};
name = Medium;
weightClass = 500;
},
{
axesValues = (
67
);
instanceInterpolations = {
"4EACF7E3-2421-4EEA-928B-7BA9BC4A845D" = 0.67;
"DC4431BF-9234-4C16-9154-22D387E42D10" = 0.33;
};
name = SemiBold;
weightClass = 600;
},
{
axesValues = (
81
);
instanceInterpolations = {
"4EACF7E3-2421-4EEA-928B-7BA9BC4A845D" = 0.81;
"DC4431BF-9234-4C16-9154-22D387E42D10" = 0.19;
};
isBold = 1;
name = Bold;
weightClass = 700;
},
{
axesValues = (
100
);
instanceInterpolations = {
"4EACF7E3-2421-4EEA-928B-7BA9BC4A845D" = 1;
};
name = ExtraBold;
weightClass = 800;
}
);
kerningLTR = {
"4EACF7E3-2421-4EEA-928B-7BA9BC4A845D" = {
A = {
A = 10;
B = 5;
C = -11;
D = 5;
E = 5;
F = 5;
G = -11;
H = 5;
I = 4;
J = -1;
K = 5;
L = 5;
M = 4;
N = 4;
O = -11;
P = 4;
Q = -11;
R = 4;
S = -4;
T = -56;
U = -11;
V = -54;
W = -54;
X = 10;
Y = -65;
Z = 5;
};
B = {
A = -13;
I = -1;
J = 10;
M = -1;
N = -1;
P = -1;
R = -1;
S = 4;
T = -24;
V = -9;
W = -9;
X = -29;
Y = -26;
Z = -25;
};
C = {
A = -11;
I = -1;
J = 10;
M = -1;
N = -1;
P = -1;
R = -1;
S = 5;
T = -20;
V = -5;
W = -5;
X = -26;
Y = -22;
Z = -22;
};
D = {
A = -11;
B = 4;
C = 1;
D = 4;
E = 4;
F = 4;
G = 1;
H = 4;
I = 4;
J = 10;
K = 4;
L = 4;
M = 3;
N = 3;
O = 1;
P = 3;
Q = 1;
R = 3;
S = 5;
T = -15;
U = 3;
V = -3;
W = -3;
X = -23;
Y = -19;
Z = -19;
};
E = {
A = 5;
C = -29;
G = -30;
I = -1;
J = -21;
M = -1;
N = -1;
O = -30;
P = -1;
Q = -30;
R = -1;
S = -24;
T = 10;
V = 15;
W = 15;
X = 5;
Y = 5;
};
F = {
A = -77;
C = -30;
G = -30;
I = -1;
J = -69;
M = -1;
N = -1;
O = -30;
P = -1;
Q = -30;
R = -1;
S = -29;
T = 10;
V = 15;
W = 15;
X = -1;
Y = 5;
};
G = {
A = -11;
J = 10;
M = -1;
N = -1;
P = -1;
R = -1;
S = 5;
T = -20;
V = -5;
W = -5;
X = -27;
Y = -22;
Z = -23;
};
H = {
A = 5;
B = 7;
C = 4;
D = 7;
E = 7;
F = 7;
G = 4;
H = 7;
I = 6;
J = 10;
K = 7;
L = 7;
M = 6;
N = 6;
O = 4;
P = 6;
Q = 4;
R = 6;
S = 5;
T = 10;
U = 6;
V = 15;
W = 15;
X = 5;
Y = 5;
};
I = {
A = 4;
B = 6;
C = 3;
D = 6;
E = 6;
F = 5;
G = 4;
H = 6;
I = 5;
J = 9;
K = 6;
L = 6;
M = 4;
N = 4;
O = 3;
P = 5;
Q = 3;
R = 5;
S = 4;
T = 9;
U = 5;
V = 14;
W = 14;
X = 4;
Y = 4;
Z = -1;
};
J = {
A = -12;
B = 7;
C = 2;
D = 6;
E = 7;
F = 6;
G = 2;
H = 7;
I = 6;
J = 10;
K = 6;
L = 7;
M = 4;
N = 5;
O = 2;
P = 6;
Q = 2;
R = 5;
S = 4;
T = 10;
U = 5;
V = 15;
W = 15;
X = -1;
Y = 5;
};
K = {
A = 15;
B = 10;
C = -32;
D = 10;
E = 10;
F = 10;
G = -33;
H = 10;
I = 9;
J = -23;
K = 10;
L = 10;
M = 9;
N = 9;
O = -33;
P = 9;
Q = -33;
R = 9;
S = -26;
T = 18;
U = 8;
V = 23;
W = 23;
X = 15;
Y = 13;
Z = 10;
};
L = {
A = 15;
B = 10;
C = -19;
D = 10;
E = 10;
F = 10;
G = -21;
H = 10;
I = 9;
J = -11;
K = 10;
L = 10;
M = 9;
N = 9;
O = -21;
P = 9;
Q = -21;
R = 9;
S = -14;
T = -78;
U = -22;
V = -69;
W = -69;
X = 15;
Y = -77;
Z = 10;
};
M = {
A = 4;
B = 6;
C = 3;
D = 6;
E = 6;
F = 6;
G = 3;
H = 6;
I = 5;
J = 9;
K = 6;
L = 6;
M = 5;
N = 5;
O = 3;
P = 5;
Q = 3;
R = 5;
S = 4;
T = 9;
U = 5;
V = 14;
W = 14;
X = 4;
Y = 4;
Z = -1;
};
N = {
A = 4;
B = 6;
C = 3;
D = 6;
E = 6;
F = 6;
G = 3;
H = 6;
I = 5;
J = 9;
K = 6;
L = 6;
M = 5;
N = 5;
O = 2;
P = 5;
Q = 2;
R = 5;
S = 4;
T = 9;
U = 5;
V = 14;
W = 14;
X = 4;
Y = 4;
Z = -1;
};
O = {
A = -12;
B = 4;
D = 4;
E = 4;
F = 4;
H = 4;
I = 3;
J = 10;
K = 4;
L = 4;
M = 2;
N = 2;
P = 3;
R = 3;
S = 4;
T = -21;
U = 2;
V = -5;
W = -5;
X = -27;
Y = -22;
Z = -23;
};
P = {
A = -35;
B = 10;
C = 10;
D = 10;
E = 10;
F = 10;
G = 10;
H = 10;
I = 9;
J = -45;
K = 10;
L = 10;
M = 9;
N = 9;
O = 10;
P = 9;
Q = 10;
R = 9;
S = 11;
T = -1;
U = 10;
V = 7;
W = 7;
X = -17;
Y = -7;
Z = -11;
};
Q = {
A = -12;
B = 4;
D = 4;
E = 4;
F = 4;
H = 4;
I = 3;
J = 10;
K = 4;
L = 4;
M = 2;
N = 2;
P = 3;
R = 3;
S = 4;
T = -21;
U = 2;
V = -5;
W = -5;
X = -27;
Y = -22;
Z = -23;
};
R = {
A = 10;
B = 5;
C = -1;
D = 5;
E = 5;
F = 5;
G = -1;
H = 5;
I = 4;
J = 9;
K = 5;
L = 5;
M = 4;
N = 4;
O = -1;
P = 4;
Q = -1;
R = 4;
S = 5;
T = -19;
U = -1;
V = -10;
W = -10;
X = 10;
Y = -25;
Z = 5;
};
S = {
A = -8;
B = 5;
C = 5;
D = 5;
E = 5;
F = 5;
G = 5;
H = 5;
I = 4;
J = 15;
K = 5;
L = 5;
M = 4;
N = 4;
O = 5;
P = 4;
Q = 5;
R = 4;
S = 9;
T = -28;
U = 5;
V = -12;
W = -12;
X = -25;
Y = -29;
Z = -21;
};
T = {
A = -74;
B = 10;
C = -20;
D = 10;
E = 10;
F = 10;
G = -20;
H = 10;
I = 9;
J = -79;
K = 10;
L = 10;
M = 9;
N = 9;
O = -20;
P = 9;
Q = -20;
R = 9;
S = -19;
T = 20;
U = 10;
V = 25;
W = 25;
X = 9;
Y = 15;
Z = 10;
};
U = {
A = -12;
B = 7;
C = 2;
D = 7;
E = 7;
F = 6;
G = 2;
H = 7;
I = 6;
J = 10;
K = 7;
L = 7;
M = 4;
N = 5;
O = 2;
P = 5;
Q = 2;
R = 5;
S = 4;
T = 10;
U = 5;
V = 15;
W = 15;
X = -1;
Y = 5;
};
V = {
A = -62;
B = 15;
C = -8;
D = 15;
E = 15;
F = 15;
G = -8;
H = 15;
I = 14;
J = -50;
K = 15;
L = 15;
M = 14;
N = 14;
O = -8;
P = 14;
Q = -8;
R = 14;
S = -6;
T = 25;
U = 15;
V = 30;
W = 30;
X = 14;
Y = 20;
Z = 15;
};
W = {
A = -60;
B = 15;
C = -6;
D = 15;
E = 15;
F = 15;
G = -5;
H = 15;
I = 14;
J = -39;
K = 15;
L = 15;
M = 14;
N = 14;
O = -5;
P = 14;
Q = -5;
R = 14;
S = -4;
T = 25;
U = 15;
V = 30;
W = 30;
X = 14;
Y = 20;
Z = 15;
};
X = {
A = 10;
B = 5;
C = -27;
D = 5;
E = 5;
F = 5;
G = -26;
H = 5;
I = 4;
J = -17;
K = 5;
L = 5;
M = 4;
N = 4;
O = -27;
P = 4;
Q = -27;
R = 4;
S = -20;
T = 9;
U = -1;
V = 14;
W = 14;
X = 10;
Y = 4;
Z = 5;
};
Y = {
A = -77;
B = 5;
C = -24;
D = 5;
E = 5;
F = 5;
G = -24;
H = 5;
I = 4;
J = -86;
K = 5;
L = 5;
M = 4;
N = 4;
O = -24;
P = 4;
Q = -24;
R = 4;
S = -21;
T = 15;
U = 5;
V = 20;
W = 20;
X = 4;
Y = 10;
Z = 5;
};
Z = {
A = 5;
C = -23;
G = -23;
I = -1;
J = -21;
M = -1;
N = -1;
O = -23;
P = -1;
Q = -23;
R = -1;
S = -21;
T = 10;
V = 15;
W = 15;
X = 5;
Y = 5;
};
a = {
a = -13;
b = -1;
c = -14;
d = -9;
e = -15;
f = -15;
g = -14;
h = -1;
i = -7;
j = -24;
k = -1;
l = -3;
m = -1;
n = -1;
o = -13;
p = -3;
q = -14;
r = -3;
s = -5;
t = -17;
u = -13;
v = -17;
w = -18;
x = 14;
y = -17;
z = 3;
};
b = {
a = 3;
b = 6;
c = 3;
d = 8;
e = 4;
f = 4;
g = 4;
h = 6;
j = -18;
k = 6;
l = 6;
m = 7;
n = 7;
o = 5;
p = 5;
q = 5;
r = 5;
s = 13;
u = 7;
v = 2;
w = 1;
x = -8;
y = 1;
z = -8;
};
c = {
a = 3;
b = 3;
c = 3;
d = 8;
e = 3;
f = -1;
g = 3;
h = 3;
i = -2;
j = -20;
k = 3;
l = 2;
m = 4;
n = 4;
o = 4;
p = 2;
q = 4;
r = 2;
s = 13;
t = -4;
u = 4;
v = -4;
w = -5;
x = -8;
y = -4;
z = -8;
};
d = {
a = -2;
b = 4;
c = 2;
d = 7;
e = 1;
f = 3;
g = -1;
h = 4;
j = -16;
k = 4;
l = 3;
m = 5;
n = 5;
o = 3;
p = 3;
q = 3;
r = 3;
s = 8;
t = 8;
u = 4;
v = 13;
w = 13;
x = 14;
y = 16;
z = 3;
};
e = {
a = -1;
b = -1;
c = -1;
d = 3;
e = -1;
f = -1;
g = -1;
h = -1;
i = -7;
j = -24;
k = -2;
l = -2;
m = -1;
n = -1;
o = -1;
p = -3;
r = -3;
s = 8;
t = -6;
u = -1;
v = -4;
w = -5;
x = -13;
y = -4;
z = -13;
};
f = {
a = -11;
b = 8;
c = -10;
d = -4;
e = -11;
g = -10;
h = 8;
j = -28;
k = 8;
m = -7;
n = -9;
o = -9;
p = -6;
q = -9;
r = -6;
s = -2;
t = 5;
u = -4;
v = 6;
w = 5;
x = 1;
y = 8;
};
g = {
a = -2;
b = 4;
c = 2;
d = 7;
e = 1;
f = 3;
g = -1;
h = 4;
j = 15;
k = 4;
l = 3;
m = 5;
n = 5;
o = 3;
p = 3;
q = 3;
r = 3;
s = 8;
t = 8;
u = 4;
v = 13;
w = 13;
x = 14;
y = 16;
z = 3;
};
h = {
a = -1;
b = 4;
c = 1;
d = 5;
e = 1;
f = -1;
g = -1;
h = 4;
i = -3;
j = -19;
k = 4;
l = 3;
m = 5;
n = 4;
o = 1;
p = 3;
q = 1;
r = 3;
s = 8;
t = -4;
u = 3;
v = -3;
w = -4;
x = 14;
y = -3;
z = 3;
};
i = {
a = -7;
c = -5;
d = -1;
e = -6;
f = -19;
g = -5;
i = -4;
j = -20;
l = -1;
m = -1;
n = -1;
o = -5;
p = -1;
q = -5;
r = -1;
s = 3;
t = 3;
u = -2;
v = 8;
w = 8;
x = 9;
y = 11;
z = -1;
};
j = {
a = -7;
c = -6;
d = -1;
e = -6;
f = -2;
g = -5;
i = -3;
j = 11;
l = -1;
m = -1;
n = -1;
o = -5;
p = -1;
q = -5;
r = -1;
s = 4;
t = 3;
u = -2;
v = 8;
w = 8;
x = 10;
y = 11;
z = -1;
};
k = {
a = -21;
b = 8;
c = -24;
d = -20;
e = -26;
f = 2;
g = -24;
h = 8;
i = 3;
j = -14;
k = 8;
l = 7;
m = 10;
n = 10;
o = -24;
p = 8;
q = -23;
r = 8;
s = -13;
t = 19;
u = 10;
v = 23;
w = 24;
x = 25;
y = 27;
z = 14;
};
l = {
a = -3;
b = 3;
c = 1;
d = 6;
e = 1;
f = -15;
g = -1;
h = 3;
i = -2;
j = -17;
k = 3;
l = 2;
m = 4;
n = 4;
o = 2;
p = 2;
q = 2;
r = 2;
s = 7;
t = 7;
u = 3;
v = 12;
w = 12;
x = 13;
y = 15;
z = 2;
};
m = {
a = -1;
b = 5;
c = 2;
d = 6;
e = 1;
f = 1;
h = 5;
j = -18;
k = 5;
l = 4;
m = 6;
n = 6;
o = 3;
p = 4;
q = 3;
r = 4;
s = 9;
t = -1;
u = 4;
v = -2;
w = -3;
x = 16;
y = -2;
z = 5;
};
n = {
a = -1;
b = 5;
c = 2;
d = 6;
e = 1;
f = -1;
h = 5;
i = -1;
j = -18;
k = 5;
l = 4;
m = 6;
n = 5;
o = 3;
p = 4;
q = 3;
r = 4;
s = 9;
t = -5;
u = 4;
v = -3;
w = -4;
x = 16;
y = -3;
z = 5;
};
o = {
a = -1;
b = 3;
c = -1;
d = 4;
e = -1;
f = -1;
g = -1;
h = 3;
i = -5;
j = -22;
k = 3;
l = 2;
m = 3;
n = 2;
p = 2;
r = 2;
s = 9;
t = -4;
u = 2;
v = -3;
w = -4;
x = -12;
y = -3;
z = -12;
};
p = {
a = 1;
b = 3;
c = 1;
d = 5;
e = 1;
g = 1;
h = 3;
i = -4;
j = -21;
k = 3;
l = 3;
m = 3;
n = 3;
o = 2;
p = 2;
q = 1;
r = 2;
s = 11;
t = -4;
u = 3;
v = -3;
w = -3;
x = -11;
y = -2;
z = -11;
};
q = {
a = -2;
b = 4;
c = 1;
d = 6;
f = 2;
g = 2;
h = 4;
i = -1;
j = 38;
k = 4;
l = 3;
m = 4;
n = 4;
o = 2;
p = 3;
q = 2;
r = 3;
s = 8;
t = 7;
u = 4;
v = 13;
w = 13;
x = 14;
y = 16;
z = 3;
};
r = {
a = -13;
b = 8;
c = -13;
d = -8;
e = -15;
f = 10;
g = -13;
h = 8;
i = 3;
j = -14;
k = 8;
l = 8;
m = -7;
n = -12;
o = -14;
p = 8;
q = -12;
r = 8;
s = -4;
t = 19;
u = 10;
v = 23;
w = 23;
x = 22;
y = 26;
z = 13;
};
s = {
a = 8;
b = 8;
c = 8;
d = 13;
e = 8;
f = 4;
g = 8;
h = 8;
i = 3;
j = -15;
k = 8;
l = 7;
m = 9;
n = 9;
o = 9;
p = 7;
q = 9;
r = 7;
s = 18;
u = 9;
v = 2;
w = 1;
x = -2;
y = 2;
z = -2;
};
t = {
a = -1;
b = 18;
c = -3;
e = -8;
f = -8;
g = -4;
h = 18;
i = 13;
j = -5;
k = 18;
l = 17;
m = 19;
n = 19;
o = -5;
p = 17;
q = -4;
r = 17;
s = 7;
t = -5;
u = -3;
w = -1;
x = 34;
y = 2;
z = 23;
};
two = {
p = -2;
two = -1;
};
u = {
a = -1;
b = 5;
c = 2;
d = 6;
e = 1;
f = 5;
h = 5;
i = -1;
j = -18;
k = 5;
l = 4;
m = 4;
n = 4;
o = 3;
p = 4;
q = 3;
r = 4;
s = 10;
t = 9;
u = 5;
v = 15;
w = 14;
x = 13;
y = 18;
z = 5;
};
v = {
a = -6;
b = 14;
c = -5;
d = 1;
e = -5;
f = 14;
g = -5;
h = 13;
i = 8;
j = -9;
k = 14;
l = 13;
m = -2;
n = -4;
o = -4;
p = 13;
q = -3;
r = 13;
s = 3;
t = 24;
u = 14;
};
w = {
a = -4;
b = 14;
c = -4;
d = 2;
e = -4;
f = 14;
g = -3;
h = 13;
i = 8;
j = -9;
k = 14;
l = 13;
m = -1;
n = -3;
o = -3;
p = 12;
q = -3;
r = 13;
s = 5;
t = 23;
u = 14;
};
x = {
a = -8;
b = 14;
c = -11;
d = -7;
e = -14;
f = 10;
g = -12;
h = 14;
i = 9;
j = -8;
k = 14;
l = 14;
m = 16;
n = 16;
o = -12;
p = 14;
q = -11;
r = 13;
s = -1;
t = 22;
u = 13;
};
y = {
a = -4;
b = 16;
c = -4;
d = 1;
e = -5;
f = 16;
g = -4;
h = 16;
i = 11;
j = -7;
k = 16;
l = 15;
m = -1;
n = -4;
o = -3;
p = 15;
q = -3;
r = 15;
s = 4;
t = 26;
u = 17;
};
z = {
a = -12;
b = 3;
c = -13;
d = -8;
e = -14;
f = 8;
g = -12;
h = 3;
i = -2;
j = -20;
k = 3;
l = 2;
m = 4;
n = 4;
o = -13;
p = 2;
q = -11;
r = 2;
s = -4;
t = 13;
u = 4;
};
};
};
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
},
{
type = "italic angle";
}
);
properties = (
{
key = copyrights;
values = (
{
language = dflt;
value = "Copyright 2021 The Stick No Bills Project Authors (https://github.com/mooniak/stick-no-bills-font)";
}
);
},
{
key = designers;
values = (
{
language = dflt;
value = "Kosala Senevirathne, Siva Puranthara, Lasantha Premarathna, Tharique Azeez";
}
);
},
{
key = designerURL;
value = "http://mooniak.com";
},
{
key = licenses;
values = (
{
language = dflt;
value = "This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL";
}
);
},
{
key = licenseURL;
value = "http://scripts.sil.org/OFL";
},
{
key = manufacturers;
values = (
{
language = dflt;
value = mooniak;
}
);
},
{
key = manufacturerURL;
value = "http://mooniak.com";
},
{
key = sampleTexts;
values = (
{
language = dflt;
value = "දැරණියගලට ඉහල අහසේ දඟකරන වලාපෙළ මවනා සොඳුරු දසුන රාත්‍රිය උදාවත් සමග ක්‍ෂයවේ.";
}
);
},
{
key = trademarks;
values = (
{
language = dflt;
value = "STICK NO BILLS is a trademark of STICK NO BILLS Gallery, Sri Lanka (http://sticknobillsonline.com)";
}
);
},
{
key = vendorID;
value = MNIK;
}
);
settings = {
disablesAutomaticAlignment = 1;
disablesNiceNames = 1;
};
unitsPerEm = 1000;
userData = {
GSDontShowVersionAlert = 1;
LWPluginVersion = "1429";
UFOFormat = 2;
};
versionMajor = 2;
versionMinor = 0;
}
