(
"a-sinh",
"aa-sinh",
"ae-sinh",
"aae-sinh",
"i-sinh",
"ii-sinh",
"u-sinh",
"uu-sinh",
"vocalicr-sinh",
"vocalicrr-sinh",
"vocalicl-sinh",
"vocalicll-sinh",
"e-sinh",
"ee-sinh",
"ai-sinh",
"o-sinh",
"oo-sinh",
"au-sinh",
"ka-sinh",
"kha-sinh",
"ga-sinh",
"gha-sinh",
"nga-sinh",
"nnga-sinh",
"ca-sinh",
"cha-sinh",
"ja-sinh",
"jha-sinh",
"nya-sinh",
"jnya-sinh",
"nyja-sinh",
"tta-sinh",
"ttha-sinh",
"dda-sinh",
"ddha-sinh",
"nna-sinh",
"nndda-sinh",
"ta-sinh",
"tha-sinh",
"da-sinh",
"dha-sinh",
"na-sinh",
"nda-sinh",
"pa-sinh",
"pha-sinh",
"ba-sinh",
"bha-sinh",
"ma-sinh",
"mba-sinh",
"ya-sinh",
"ra-sinh",
"la-sinh",
"va-sinh",
"sha-sinh",
"ssa-sinh",
"sa-sinh",
"ha-sinh",
"lla-sinh",
"fa-sinh",
"kSsa-sinh",
"kVa-sinh",
"tVa-sinh",
"tTha-sinh",
"nDa-sinh",
"nDha-sinh",
"nVa-sinh",
"nTha-sinh",
"gDha-sinh",
"dVa-sinh",
"dDha-sinh",
"ttTtha-sinh",
"aaesign-sinh",
"aesign-sinh",
"aisign-sinh",
"ausign-sinh",
"esign-sinh",
"eesign-sinh",
"isign-sinh",
"iisign-sinh",
"vocaliclsign-sinh",
"vocalicllsign-sinh",
"osign-sinh",
"oosign-sinh",
"vocalicrsign-sinh",
"vocalicrrsign-sinh",
"usign-sinh",
"uusign-sinh",
"usign-sinh.sub",
"uusign-sinh.sub",
"virama-sinh",
"rasign-sinh",
"repha-sinh",
"anusvaraya-sinh",
"visargaya-sinh",
"aasign-sinh",
"aasign_virama-sinh",
"k-sinh",
"kh-sinh",
"g-sinh",
"gh-sinh",
"ng-sinh",
"nng-sinh",
"c-sinh",
"ch-sinh",
"j-sinh",
"jh-sinh",
"ny-sinh",
"jny-sinh",
"nyj-sinh",
"tt-sinh",
"tth-sinh",
"dd-sinh",
"ddh-sinh",
"nn-sinh",
"nndd-sinh",
"t-sinh",
"th-sinh",
"d-sinh",
"dh-sinh",
"n-sinh",
"nd-sinh",
"p-sinh",
"ph-sinh",
"b-sinh",
"bh-sinh",
"m-sinh",
"mb-sinh",
"y-sinh",
"r-sinh",
"l-sinh",
"v-sinh",
"sh-sinh",
"ss-sinh",
"s-sinh",
"h-sinh",
"ll-sinh",
"f-sinh",
"kSs-sinh",
"kV-sinh",
"tV-sinh",
"tTh-sinh",
"nD-sinh",
"nDh-sinh",
"nV-sinh",
"nTh-sinh",
"dV-sinh",
"dDh-sinh",
"ttTth-sinh",
"kI-sinh",
"khI-sinh",
"gI-sinh",
"ghI-sinh",
"ngI-sinh",
"nngI-sinh",
"cI-sinh",
"chI-sinh",
"jI-sinh",
"jhI-sinh",
"nyI-sinh",
"jnyI-sinh",
"nyjI-sinh",
"ttI-sinh",
"tthI-sinh",
"ddI-sinh",
"ddhI-sinh",
"nnI-sinh",
"nnddI-sinh",
"tI-sinh",
"thI-sinh",
"dI-sinh",
"dhI-sinh",
"nI-sinh",
"ndI-sinh",
"pI-sinh",
"phI-sinh",
"bI-sinh",
"bhI-sinh",
"mI-sinh",
"mbI-sinh",
"yI-sinh",
"rI-sinh",
"lI-sinh",
"vI-sinh",
"shI-sinh",
"ssI-sinh",
"sI-sinh",
"hI-sinh",
"llI-sinh",
"fI-sinh",
"kSsI-sinh",
"kVI-sinh",
"tVI-sinh",
"tThI-sinh",
"nDI-sinh",
"nDhI-sinh",
"nVI-sinh",
"nThI-sinh",
"dVI-sinh",
"dDhI-sinh",
"ttTthI-sinh",
"kIi-sinh",
"khIi-sinh",
"gIi-sinh",
"ghIi-sinh",
"ngIi-sinh",
"nngIi-sinh",
"cIi-sinh",
"chIi-sinh",
"jIi-sinh",
"jhIi-sinh",
"nyIi-sinh",
"jnyIi-sinh",
"nyjIi-sinh",
"ttIi-sinh",
"tthIi-sinh",
"ddIi-sinh",
"ddhIi-sinh",
"nnIi-sinh",
"nnddIi-sinh",
"tIi-sinh",
"thIi-sinh",
"dIi-sinh",
"dhIi-sinh",
"nIi-sinh",
"ndIi-sinh",
"pIi-sinh",
"phIi-sinh",
"bIi-sinh",
"bhIi-sinh",
"mIi-sinh",
"mbIi-sinh",
"yIi-sinh",
"rIi-sinh",
"lIi-sinh",
"vIi-sinh",
"shIi-sinh",
"ssIi-sinh",
"sIi-sinh",
"hIi-sinh",
"llIi-sinh",
"fIi-sinh",
"kSsIi-sinh",
"kVIi-sinh",
"tVIi-sinh",
"tThIi-sinh",
"nDIi-sinh",
"nDhIi-sinh",
"nVIi-sinh",
"nThIi-sinh",
"dVIi-sinh",
"dDhIi-sinh",
"ttTthIi-sinh",
"kU-sinh",
"khU-sinh",
"gU-sinh",
"ghU-sinh",
"nngU-sinh",
"cU-sinh",
"chU-sinh",
"jU-sinh",
"jhU-sinh",
"nyU-sinh",
"jnyU-sinh",
"nyjU-sinh",
"ttU-sinh",
"tthU-sinh",
"ddU-sinh",
"ddhU-sinh",
"nnU-sinh",
"nnddU-sinh",
"tU-sinh",
"thU-sinh",
"dU-sinh",
"dhU-sinh",
"nU-sinh",
"ndU-sinh",
"pU-sinh",
"phU-sinh",
"bU-sinh",
"bhU-sinh",
"mU-sinh",
"mbU-sinh",
"yU-sinh",
"rU-sinh",
"lU-sinh",
"vU-sinh",
"shU-sinh",
"ssU-sinh",
"sU-sinh",
"hU-sinh",
"llU-sinh",
"fU-sinh",
"kSsU-sinh",
"kVU-sinh",
"tVU-sinh",
"tThU-sinh",
"nDU-sinh",
"nDhU-sinh",
"nVU-sinh",
"nThU-sinh",
"dVU-sinh",
"dDhU-sinh",
"ttTthU-sinh",
"kUu-sinh",
"khUu-sinh",
"gUu-sinh",
"ghUu-sinh",
"nngUu-sinh",
"cUu-sinh",
"chUu-sinh",
"jUu-sinh",
"jhUu-sinh",
"nyUu-sinh",
"jnyUu-sinh",
"nyjUu-sinh",
"ttUu-sinh",
"tthUu-sinh",
"ddUu-sinh",
"ddhUu-sinh",
"nnUu-sinh",
"nnddUu-sinh",
"tUu-sinh",
"thUu-sinh",
"dUu-sinh",
"dhUu-sinh",
"nUu-sinh",
"ndUu-sinh",
"pUu-sinh",
"phUu-sinh",
"bUu-sinh",
"bhUu-sinh",
"mUu-sinh",
"mbUu-sinh",
"yUu-sinh",
"rUu-sinh",
"lUu-sinh",
"vUu-sinh",
"shUu-sinh",
"ssUu-sinh",
"sUu-sinh",
"hUu-sinh",
"llUu-sinh",
"fUu-sinh",
"kSsUu-sinh",
"kVUu-sinh",
"tVUu-sinh",
"tThUu-sinh",
"nDUu-sinh",
"nDhUu-sinh",
"nVUu-sinh",
"nThUu-sinh",
"dVUu-sinh",
"dDhUu-sinh",
"ttTthUu-sinh",
"rAe-sinh",
"rAae-sinh",
"kRa-sinh",
"khRa-sinh",
"gRa-sinh",
"ghRa-sinh",
"cRa-sinh",
"jRa-sinh",
"jhRa-sinh",
"nyRa-sinh",
"jnyRa-sinh",
"nyjRa-sinh",
"ttRa-sinh",
"ddRa-sinh",
"tRa-sinh",
"dRa-sinh",
"dhRa-sinh",
"ndRa-sinh",
"pRa-sinh",
"bRa-sinh",
"bhRa-sinh",
"mRa-sinh",
"vRa-sinh",
"shRa-sinh",
"ssRa-sinh",
"sRa-sinh",
"hRa-sinh",
"fRa-sinh",
"nDRa-sinh",
"kR-sinh",
"khR-sinh",
"gR-sinh",
"ghR-sinh",
"cR-sinh",
"jR-sinh",
"jhR-sinh",
"nyR-sinh",
"jnyR-sinh",
"nyjR-sinh",
"ttR-sinh",
"ddR-sinh",
"tR-sinh",
"dR-sinh",
"dhR-sinh",
"pR-sinh",
"bR-sinh",
"bhR-sinh",
"mR-sinh",
"vR-sinh",
"shR-sinh",
"ssR-sinh",
"sR-sinh",
"hR-sinh",
"fR-sinh",
"kRI-sinh",
"khRI-sinh",
"gRI-sinh",
"ghRI-sinh",
"cRI-sinh",
"jRI-sinh",
"jhRI-sinh",
"nyRI-sinh",
"jnyRI-sinh",
"ttRI-sinh",
"ddRI-sinh",
"tRI-sinh",
"dRI-sinh",
"dhRI-sinh",
"pRI-sinh",
"bRI-sinh",
"bhRI-sinh",
"mRI-sinh",
"vRI-sinh",
"shRI-sinh",
"ssRI-sinh",
"sRI-sinh",
"hRI-sinh",
"fRI-sinh",
"nDRI-sinh",
"kRIi-sinh",
"khRIi-sinh",
"gRIi-sinh",
"ghRIi-sinh",
"cRIi-sinh",
"jRIi-sinh",
"jhRIi-sinh",
"nyRIi-sinh",
"jnyRIi-sinh",
"ttRIi-sinh",
"ddRIi-sinh",
"tRIi-sinh",
"dRIi-sinh",
"dhRIi-sinh",
"pRIi-sinh",
"bRIi-sinh",
"bhRIi-sinh",
"mRIi-sinh",
"vRIi-sinh",
"shRIi-sinh",
"ssRIi-sinh",
"sRIi-sinh",
"hRIi-sinh",
"fRIi-sinh",
"nDRIi-sinh",
"ka_repha-sinh",
"kha_repha-sinh",
"ga_repha-sinh",
"gha_repha-sinh",
"ca_repha-sinh",
"ja_repha-sinh",
"jha_repha-sinh",
"nya_repha-sinh",
"jnya_repha-sinh",
"tta_repha-sinh",
"dda_repha-sinh",
"nna_repha-sinh",
"ta_repha-sinh",
"tha_repha-sinh",
"da_repha-sinh",
"dha_repha-sinh",
"na_repha-sinh",
"pa_repha-sinh",
"pha_repha-sinh",
"ba_repha-sinh",
"bha_repha-sinh",
"ma_repha-sinh",
"ya_repha-sinh",
"va_repha-sinh",
"sha_repha-sinh",
"ssa_repha-sinh",
"sa_repha-sinh",
"ha_repha-sinh",
"fa_repha-sinh",
"yasign_isign-sinh",
"yasign_iisign-sinh",
"yasign_repha-sinh",
"yasign-sinh",
"yasign_repha_aasign-sinh",
"yasign_uusign-sinh",
"yasign_usign-sinh",
"yasign_repha_usign-sinh",
"yasign_repha_uusign-sinh",
"yasign-sinh.alt",
"taA",
"taAa",
"taI",
"taIi",
"taU",
"taUu",
"taE",
"taEe",
"taAi",
"taO",
"taOo",
"taAu",
"taKa",
"taNga",
"taCa",
"taJa",
"taNya",
"taTta",
"taNna",
"taTa",
"taNa",
"taNnna",
"taPa",
"taMa",
"taYa",
"taRa",
"taRra",
"taLa",
"taLla",
"taLlla",
"taVa",
"taSha",
"taSsa",
"taSa",
"taHa",
"taOm",
"taVisarga",
"taTen",
"taHundred",
"taThousand",
"taZero",
"taOne",
"taTwo",
"taThree",
"taFour",
"taFive",
"taSix",
"taSeven",
"taEight",
"taNine",
"taDay",
"taMonth",
"taYear",
"taDebit",
"taCredit",
"taAbove",
"taNumber",
"taRupee",
"taMatraIi",
"taHalant",
"taAnusvara",
"taMatraAa",
"taMatraI",
"taMatraU",
"taMatraUu",
"taMatraE",
"taMatraEe",
"taMatraAi",
"taMatraO",
"taMatraOo",
"taMatraAu",
"taAuLengthmark",
"taCI",
"taCU",
"taCUu",
"taHI",
"taJI",
"taKI",
"taKSsa",
"taKU",
"taKUu",
"taLI",
"taLU",
"taLUu",
"taLlI",
"taLlU",
"taLlUu",
"taLllI",
"taLllU",
"taLllUu",
"taMI",
"taMU",
"taMUu",
"taNI",
"taNU",
"taNUu",
"taNgI",
"taNgUu",
"taNnI",
"taNnU",
"taNnUu",
"taNnnI",
"taNnnU",
"taNnnUu",
"taNyI",
"taNyU",
"taNyUu",
"taPI",
"taPUu",
"taRI",
"taRU",
"taRUu",
"taRrI",
"taRrU",
"taRrUu",
"taSI",
"taShree",
"taSsI",
"taTI",
"taTU",
"taTUu",
"taTtI",
"taTtIi",
"taTtU",
"taTtUu",
"taVI",
"taVUu",
"taYI",
"taYUu",
"taNnAa.alt",
"taNnnAa.alt",
"taRrAa.alt",
"A",
"Aacute",
"Abreve",
"Acircumflex",
"Adieresis",
"Agrave",
"Amacron",
"Aogonek",
"Aring",
"Atilde",
"AE",
"B",
"C",
"Cacute",
"Ccaron",
"Ccedilla",
"D",
"Dcaron",
"Dcroat",
"Eth",
"E",
"Eacute",
"Ecaron",
"Ecircumflex",
"Edieresis",
"Edotaccent",
"Egrave",
"Emacron",
"Eogonek",
"F",
"G",
"Gbreve",
"H",
"I",
"Iacute",
"Icircumflex",
"Idieresis",
"Idotaccent",
"Igrave",
"Imacron",
"Iogonek",
"J",
"K",
"L",
"Lacute",
"Lcaron",
"Lslash",
"M",
"N",
"Nacute",
"Ncaron",
"Ntilde",
"O",
"Oacute",
"Ocircumflex",
"Odieresis",
"Ograve",
"Ohungarumlaut",
"Omacron",
"Oslash",
"Otilde",
"OE",
"P",
"Thorn",
"Q",
"R",
"Racute",
"Rcaron",
"S",
"Sacute",
"Scaron",
"T",
"Tcaron",
"U",
"Uacute",
"Ucircumflex",
"Udieresis",
"Ugrave",
"Uhungarumlaut",
"Umacron",
"Uogonek",
"Uring",
"V",
"W",
"X",
"Y",
"Yacute",
"Ydieresis",
"Z",
"Zacute",
"Zcaron",
"Zdotaccent",
"uni0122",
"uni0136",
"uni013B",
"uni0145",
"uni0156",
"uni015E",
"uni0162",
"uni0218",
"uni021A",
"a",
"aacute",
"abreve",
"acircumflex",
"adieresis",
"agrave",
"amacron",
"aogonek",
"aring",
"atilde",
"ae",
"b",
"c",
"cacute",
"ccaron",
"ccedilla",
"d",
"dcaron",
"dcroat",
"eth",
"e",
"eacute",
"ecaron",
"ecircumflex",
"edieresis",
"edotaccent",
"egrave",
"emacron",
"eogonek",
"f",
"g",
"gbreve",
"h",
"i",
"dotlessi",
"iacute",
"icircumflex",
"idieresis",
"igrave",
"imacron",
"iogonek",
"j",
"k",
"l",
"lacute",
"lcaron",
"lslash",
"m",
"n",
"nacute",
"ncaron",
"ntilde",
"o",
"oacute",
"ocircumflex",
"odieresis",
"ograve",
"ohungarumlaut",
"omacron",
"oslash",
"otilde",
"oe",
"p",
"thorn",
"q",
"r",
"racute",
"rcaron",
"s",
"sacute",
"scaron",
"germandbls",
"t",
"tcaron",
"u",
"uacute",
"ucircumflex",
"udieresis",
"ugrave",
"uhungarumlaut",
"umacron",
"uni0123",
"uni0137",
"uni013C",
"uni0146",
"uni0157",
"uni015F",
"uni0163",
"uni0219",
"uni021B",
"uogonek",
"uring",
"v",
"w",
"x",
"y",
"yacute",
"ydieresis",
"z",
"zacute",
"zcaron",
"zdotaccent",
"fi",
"fl",
"ordfeminine",
"ordmasculine",
"pi",
"archaicone-sinh",
"archaictwo-sinh",
"archaicthree-sinh",
"archaicfour-sinh",
"archaicfive-sinh",
"archaicsix-sinh",
"archaicseven-sinh",
"archaiceight-sinh",
"archaicnine-sinh",
"archaicten-sinh",
"archaictwenty-sinh",
"archaicthirty-sinh",
"archaicforty-sinh",
"archaicfifty-sinh",
"archaicsixty-sinh",
"archaicseventy-sinh",
"archaiceighty-sinh",
"archaicninety-sinh",
"archaiconehundred-sinh",
"archaiconethousand-sinh",
"lithone-sinh",
"lithtwo-sinh",
"liththree-sinh",
"lithfour-sinh",
"lithfive-sinh",
"lithsix-sinh",
"lithseven-sinh",
"litheight-sinh",
"lithnine-sinh",
"zero",
"one",
"two",
"three",
"four",
"five",
"six",
"seven",
"eight",
"nine",
"fraction",
"onehalf",
"onequarter",
"threequarters",
"onesuperior",
"twosuperior",
"threesuperior",
"foursuperior",
"space",
"nbspace",
"zerowidthnonjoiner",
"zerowidthjoiner",
"CR",
".notdef",
"kunddaliya",
"period",
"comma",
"colon",
"semicolon",
"ellipsis",
"exclam",
"exclamdown",
"question",
"questiondown",
"periodcentered",
"bullet",
"asterisk",
"numbersign",
"slash",
"backslash",
"hyphen",
"uni00AD",
"endash",
"emdash",
"underscore",
"parenleft",
"parenright",
"braceleft",
"braceright",
"bracketleft",
"bracketright",
"quotesinglbase",
"quotedblbase",
"quotedblleft",
"quotedblright",
"quoteleft",
"quoteright",
"guillemotleft",
"guillemotright",
"guilsinglleft",
"guilsinglright",
"quotedbl",
"quotesingle",
"quotedbl.alt",
"florin",
"at",
"ampersand",
"paragraph",
"section",
"copyright",
"registered",
"trademark",
"degree",
"bar",
"brokenbar",
"dagger",
"uni2113",
"daggerdbl",
"estimated",
"Euro",
"cent",
"currency",
"dollar",
"sterling",
"yen",
"plus",
"minus",
"multiply",
"divide",
"equal",
"notequal",
"greater",
"less",
"greaterequal",
"lessequal",
"plusminus",
"approxequal",
"asciitilde",
"logicalnot",
"asciicircum",
"infinity",
"integral",
"uni2126",
"uni2206",
"product",
"summation",
"radical",
"uni00B5",
"partialdiff",
"percent",
"perthousand",
"uni2215",
"uni2219",
"dottedcircle",
"lozenge",
"dieresis",
"dotaccent",
"grave",
"acute",
"hungarumlaut",
"circumflex",
"uni02C9",
"caron",
"breve",
"ring",
"tilde",
"macron",
"cedilla",
"ogonek",
"mooniak",
"usign-sinh.alt",
"uusign-sinh.alt",
"repha-sinh.alt",
"NULL"
)
