(
sinA,
sinAa,
sinAe,
sinAae,
sinI,
sinIi,
sinU,
sinUu,
sinRVocalic,
sinRrVocalic,
sinLVocalic,
sinLlVocalic,
sinE,
sinEe,
sinAi,
sinO,
sinOo,
sinAu,
sinKa,
sinKha,
sinGa,
sinGha,
sinNga,
sinNnga,
sinCa,
sinCha,
sinJa,
sinJha,
sinNya,
sinJnya,
sinNyja,
sinTta,
sinTtha,
sinDda,
sinDdha,
sinNna,
sinNndda,
sinTa,
sinTha,
sinDa,
sinDha,
sinNa,
sinNda,
sinPa,
sinPha,
sinBa,
sinBha,
sinMa,
sinMba,
sinYa,
sinRa,
sinLa,
sinVa,
sinSha,
sinSsa,
sinSa,
sinHa,
sinLla,
sinFa,
sinKSsa,
sinKVa,
sinTVa,
sinTTha,
sinNDa,
sinNDha,
sinNVa,
sinNTha,
sinGDha,
sinDVa,
sinDDha,
sinTtTtha,
sinMatraAae,
sinMatraAe,
sinMatraAi,
sinMatraAu,
sinMatraE,
sinMatraEe,
sinMatraI,
sinMatraIi,
sinMatraLl,
sinMatraLs,
sinMatraO,
sinMatraOo,
sinMatraR,
sinMatraRr,
sinMatraU,
sinMatraUu,
sinMatraU.sub,
sinMatraUu.sub,
sinVirama,
sinRakar,
sinReph,
sinAnusvara,
sinVisarga,
sinMatraAa,
sinMatraAa.virama,
sinK,
sinKh,
sinG,
sinGh,
sinNg,
sinNng,
sinC,
sinCh,
sinJ,
sinJh,
sinNy,
sinJny,
sinNyj,
sinTt,
sinTth,
sinDd,
sinDdh,
sinNn,
sinNndd,
sinT,
sinTh,
sinD,
sinDh,
sinN,
sinNd,
sinP,
sinPh,
sinB,
sinBh,
sinM,
sinMb,
sinY,
sinR,
sinL,
sinV,
sinSh,
sinSs,
sinS,
sinH,
sinLl,
sinF,
sinKSs,
sinKV,
sinTV,
sinTTh,
sinND,
sinNDh,
sinNV,
sinNTh,
sinDV,
sinDDh,
sinTtTth,
sinKI,
sinKhI,
sinGI,
sinGhI,
sinNgI,
sinNngI,
sinCI,
sinChI,
sinJI,
sinJhI,
sinNyI,
sinJnyI,
sinNyjI,
sinTtI,
sinTthI,
sinDdI,
sinDdhI,
sinNnI,
sinNnddI,
sinTI,
sinThI,
sinDI,
sinDhI,
sinNI,
sinNdI,
sinPI,
sinPhI,
sinBI,
sinBhI,
sinMI,
sinMbI,
sinYI,
sinRI,
sinLI,
sinVI,
sinShI,
sinSsI,
sinSI,
sinHI,
sinLlI,
sinFI,
sinKSsI,
sinKVI,
sinTVI,
sinTThI,
sinNDI,
sinNDhI,
sinNVI,
sinNThI,
sinDVI,
sinDDhI,
sinTtTthI,
sinKIi,
sinKhIi,
sinGIi,
sinGhIi,
sinNgIi,
sinNngIi,
sinCIi,
sinChIi,
sinJIi,
sinJhIi,
sinNyIi,
sinJnyIi,
sinNyjIi,
sinTtIi,
sinTthIi,
sinDdIi,
sinDdhIi,
sinNnIi,
sinNnddIi,
sinTIi,
sinThIi,
sinDIi,
sinDhIi,
sinNIi,
sinNdIi,
sinPIi,
sinPhIi,
sinBIi,
sinBhIi,
sinMIi,
sinMbIi,
sinYIi,
sinRIi,
sinLIi,
sinVIi,
sinShIi,
sinSsIi,
sinSIi,
sinHIi,
sinLlIi,
sinFIi,
sinKSsIi,
sinKVIi,
sinTVIi,
sinTThIi,
sinNDIi,
sinNDhIi,
sinNVIi,
sinNThIi,
sinDVIi,
sinDDhIi,
sinTtTthIi,
sinKU,
sinKhU,
sinGU,
sinGhU,
sinNngU,
sinCU,
sinChU,
sinJU,
sinJhU,
sinNyU,
sinJnyU,
sinNyjU,
sinTtU,
sinTthU,
sinDdU,
sinDdhU,
sinNnU,
sinNnddU,
sinTU,
sinThU,
sinDU,
sinDhU,
sinNU,
sinNdU,
sinPU,
sinPhU,
sinBU,
sinBhU,
sinMU,
sinMbU,
sinYU,
sinRU,
sinLU,
sinVU,
sinShU,
sinSsU,
sinSU,
sinHU,
sinLlU,
sinFU,
sinKSsU,
sinKVU,
sinTVU,
sinTThU,
sinNDU,
sinNDhU,
sinNVU,
sinNThU,
sinDVU,
sinDDhU,
sinTtTthU,
sinKUu,
sinKhUu,
sinGUu,
sinGhUu,
sinNngUu,
sinCUu,
sinChUu,
sinJUu,
sinJhUu,
sinNyUu,
sinJnyUu,
sinNyjUu,
sinTtUu,
sinTthUu,
sinDdUu,
sinDdhUu,
sinNnUu,
sinNnddUu,
sinTUu,
sinThUu,
sinDUu,
sinDhUu,
sinNUu,
sinNdUu,
sinPUu,
sinPhUu,
sinBUu,
sinBhUu,
sinMUu,
sinMbUu,
sinYUu,
sinRUu,
sinLUu,
sinVUu,
sinShUu,
sinSsUu,
sinSUu,
sinHUu,
sinLlUu,
sinFUu,
sinKSsUu,
sinKVUu,
sinTVUu,
sinTThUu,
sinNDUu,
sinNDhUu,
sinNVUu,
sinNThUu,
sinDVUu,
sinDDhUu,
sinTtTthUu,
sinRAe,
sinRAae,
sinKRa,
sinKhRa,
sinGRa,
sinGhRa,
sinCRa,
sinJRa,
sinJhRa,
sinNyRa,
sinJnyRa,
sinNyjRa,
sinTtRa,
sinDdRa,
sinTRa,
sinDRa,
sinDhRa,
sinNdRa,
sinPRa,
sinBRa,
sinBhRa,
sinMRa,
sinVRa,
sinShRa,
sinSsRa,
sinSRa,
sinHRa,
sinFRa,
sinNDRa,
sinKR,
sinKhR,
sinGR,
sinGhR,
sinCR,
sinJR,
sinJhR,
sinNyR,
sinJnyR,
sinNyjR,
sinTtR,
sinDdR,
sinTR,
sinDR,
sinDhR,
sinPR,
sinBR,
sinBhR,
sinMR,
sinVR,
sinShR,
sinSsR,
sinSR,
sinHR,
sinFR,
sinKRI,
sinKhRI,
sinGRI,
sinGhRI,
sinCRI,
sinJRI,
sinJhRI,
sinNyRI,
sinJnyRI,
sinTtRI,
sinDdRI,
sinTRI,
sinDRI,
sinDhRI,
sinPRI,
sinBRI,
sinBhRI,
sinMRI,
sinVRI,
sinShRI,
sinSsRI,
sinSRI,
sinHRI,
sinFRI,
sinNDRI,
sinKRIi,
sinKhRIi,
sinGRIi,
sinGhRIi,
sinCRIi,
sinJRIi,
sinJhRIi,
sinNyRIi,
sinJnyRIi,
sinTtRIi,
sinDdRIi,
sinTRIi,
sinDRIi,
sinDhRIi,
sinPRIi,
sinBRIi,
sinBhRIi,
sinMRIi,
sinVRIi,
sinShRIi,
sinSsRIi,
sinSRIi,
sinHRIi,
sinFRIi,
sinNDRIi,
sinKa.reph,
sinKha.reph,
sinGa.reph,
sinGha.reph,
sinCa.reph,
sinJa.reph,
sinJha.reph,
sinNya.reph,
sinJnya.reph,
sinTta.reph,
sinDda.reph,
sinNna.reph,
sinTa.reph,
sinTha.reph,
sinDa.reph,
sinDha.reph,
sinNa.reph,
sinPa.reph,
sinPha.reph,
sinBa.reph,
sinBha.reph,
sinMa.reph,
sinYa.reph,
sinVa.reph,
sinSha.reph,
sinSsa.reph,
sinSa.reph,
sinHa.reph,
sinFa.reph,
sinYansaya.MatraI,
sinYansaya.MatraIi,
sinYansaya.reph,
sinYansaya,
sinYansaya_Reph_MatraAa,
sinYansa_MatraUu,
sinYansa_MatraU,
sinYansaya_Reph_MatraU,
sinYansaya_Reph_MatraUu,
sinYansaya.virama,
taA,
taAa,
taI,
taIi,
taU,
taUu,
taE,
taEe,
taAi,
taO,
taOo,
taAu,
taKa,
taNga,
taCa,
taJa,
taNya,
taTta,
taNna,
taTa,
taNa,
taNnna,
taPa,
taMa,
taYa,
taRa,
taRra,
taLa,
taLla,
taLlla,
taVa,
taSha,
taSsa,
taSa,
taHa,
taOm,
taVisarga,
taTen,
taHundred,
taThousand,
taZero,
taOne,
taTwo,
taThree,
taFour,
taFive,
taSix,
taSeven,
taEight,
taNine,
taDay,
taMonth,
taYear,
taDebit,
taCredit,
taAbove,
taNumber,
taRupee,
taMatraIi,
taHalant,
taAnusvara,
taMatraAa,
taMatraI,
taMatraU,
taMatraUu,
taMatraE,
taMatraEe,
taMatraAi,
taMatraO,
taMatraOo,
taMatraAu,
taAuLengthmark,
taCI,
taCU,
taCUu,
taHI,
taJI,
taKI,
taKSsa,
taKU,
taKUu,
taLI,
taLU,
taLUu,
taLlI,
taLlU,
taLlUu,
taLllI,
taLllU,
taLllUu,
taMI,
taMU,
taMUu,
taNI,
taNU,
taNUu,
taNgI,
taNgUu,
taNnI,
taNnU,
taNnUu,
taNnnI,
taNnnU,
taNnnUu,
taNyI,
taNyU,
taNyUu,
taPI,
taPUu,
taRI,
taRU,
taRUu,
taRrI,
taRrU,
taRrUu,
taSI,
taShree,
taSsI,
taTI,
taTU,
taTUu,
taTtI,
taTtIi,
taTtU,
taTtUu,
taVI,
taVUu,
taYI,
taYUu,
taNnAa.alt,
taNnnAa.alt,
taRrAa.alt,
A,
Aacute,
Abreve,
Acircumflex,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
C,
Cacute,
Ccaron,
Ccedilla,
D,
Dcaron,
Dcroat,
Eth,
E,
Eacute,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
F,
G,
Gbreve,
H,
I,
Iacute,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
J,
K,
L,
Lacute,
Lcaron,
Lslash,
M,
N,
Nacute,
Ncaron,
Ntilde,
O,
Oacute,
Ocircumflex,
Odieresis,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
S,
Sacute,
Scaron,
T,
Tcaron,
U,
Uacute,
Ucircumflex,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
V,
W,
X,
Y,
Yacute,
Ydieresis,
Z,
Zacute,
Zcaron,
Zdotaccent,
uni0122,
uni0136,
uni013B,
uni0145,
uni0156,
uni015E,
uni0162,
uni0218,
uni021A,
a,
aacute,
abreve,
acircumflex,
adieresis,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
b,
c,
cacute,
ccaron,
ccedilla,
d,
dcaron,
dcroat,
eth,
e,
eacute,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
f,
g,
gbreve,
h,
i,
dotlessi,
iacute,
icircumflex,
idieresis,
igrave,
imacron,
iogonek,
j,
k,
l,
lacute,
lcaron,
lslash,
m,
n,
nacute,
ncaron,
ntilde,
o,
oacute,
ocircumflex,
odieresis,
ograve,
ohungarumlaut,
omacron,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
s,
sacute,
scaron,
germandbls,
t,
tcaron,
u,
uacute,
ucircumflex,
udieresis,
ugrave,
uhungarumlaut,
umacron,
uni0123,
uni0137,
uni013C,
uni0146,
uni0157,
uni015F,
uni0163,
uni0219,
uni021B,
uogonek,
uring,
v,
w,
x,
y,
yacute,
ydieresis,
z,
zacute,
zcaron,
zdotaccent,
fi,
fl,
ordfeminine,
ordmasculine,
pi,
"oneArchaic-sinhala",
"twoArchaic-sinhala",
"threeArchaic-sinhala",
"fourArchaic-sinhala",
"fiveArchaic-sinhala",
"sixArchaic-sinhala",
"sevenArchaic-sinhala",
"eightArchaic-sinhala",
"nineArchaic-sinhala",
"tenArchaic-sinhala",
"twentyArchaic-sinhala",
"thirtyArchaic-sinhala",
"fortyArchaic-sinhala",
"fiftyArchaic-sinhala",
"sixtyArchaic-sinhala",
"seventyArchaic-sinhala",
"eightyArchaic-sinhala",
"ninetyArchaic-sinhala",
"onehundredArchaic-sinhala",
"onethousandArchaic-sinhala",
sinOnelith,
sinTwolith,
sinThreelith,
sinFourlith,
sinFivelith,
sinSixlith,
sinSevenlith,
sinEightlith,
sinNinelith,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
fraction,
onehalf,
onequarter,
threequarters,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
space,
nbspace,
zerowidthnonjoiner,
zerowidthjoiner,
CR,
.notdef,
sinkundaliya,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
hyphen,
uni00AD,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemotleft,
guillemotright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
quotedbl.alt,
florin,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
dagger,
uni2113,
daggerdbl,
estimated,
Euro,
cent,
currency,
dollar,
sterling,
yen,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
integral,
uni2126,
uni2206,
product,
summation,
radical,
uni00B5,
partialdiff,
percent,
perthousand,
uni2215,
uni2219,
dottedcircle,
lozenge,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
uni02C9,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
mooniak,
sinMatraU.alt,
sinMatraUu.alt,
sinReph.alt
)