<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>familyName</key>
    <string>Stick No Bills</string>
    <key>styleName</key>
    <string>Light</string>
    <key>styleMapFamilyName</key>
    <string>Stick No Bills Regular</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>200</integer>
    <key>copyright</key>
    <string>Copyright (c) 2013-2015 STICK NO BILLS (http://www.sticknobillsonline.com) Copyright (c) 2015 mooniak (http://mooniak.com)</string>
    <key>trademark</key>
    <string>STICK NO BILLS is a trademark of STICK NO BILLS Gallery, Sri Lanka &lt;http://sticknobillsonline.com&gt;</string>
    <key>unitsPerEm</key>
    <integer>1024</integer>
    <key>ascender</key>
    <integer>819</integer>
    <key>descender</key>
    <integer>-205</integer>
    <key>italicAngle</key>
    <real>0</real>
    <key>note</key>
    <string>2015-2-15: Created with FontForge (http://fontforge.org) The  Free Font Editor</string>
    <key>openTypeHeadCreated</key>
    <string>2015/10/27 06:03:31</string>
    <key>openTypeHheaAscender</key>
    <integer>918</integer>
    <key>openTypeHheaDescender</key>
    <integer>-205</integer>
    <key>openTypeHheaLineGap</key>
    <integer>94</integer>
    <key>openTypeNameDesigner</key>
    <string>Kosala Senevirathne, Siva Puranthara, Lasantha Premarathna, Tharique Azeez</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://mooniak.com/type</string>
    <key>openTypeNameManufacturer</key>
    <string>mooniak &lt;http://mooniak.com&gt;</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameVersion</key>
    <string>Version 1.200</string>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2VendorID</key>
    <string>PfEd</string>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>819</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-205</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>94</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>918</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>205</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>1</integer>
    </array>
    <key>postscriptFontName</key>
    <string>StickNoBills-Light</string>
    <key>postscriptFullName</key>
    <string>Stick No Bills</string>
    <key>postscriptWeightName</key>
    <string>Light</string>
    <key>postscriptUnderlineThickness</key>
    <integer>51</integer>
    <key>postscriptUnderlinePosition</key>
    <integer>-102</integer>
  </dict>
</plist>
