<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>HKD</string>
      <string>uni00B9</string>
      <string>uni00B2</string>
      <string>uni00B3</string>
      <string>quotedbl.alt</string>
      <string>uni00AD</string>
      <string>uni00C6</string>
      <string>uni00D0</string>
      <string>uni0152</string>
      <string>uni00DE</string>
      <string>uni0041</string>
      <string>uni0042</string>
      <string>uni0043</string>
      <string>uni0044</string>
      <string>uni0045</string>
      <string>uni0046</string>
      <string>uni0047</string>
      <string>uni0048</string>
      <string>uni0049</string>
      <string>uni004A</string>
      <string>uni004B</string>
      <string>uni004C</string>
      <string>uni004D</string>
      <string>uni004E</string>
      <string>uni004F</string>
      <string>uni0050</string>
      <string>uni0051</string>
      <string>uni0052</string>
      <string>uni0053</string>
      <string>uni0054</string>
      <string>uni0055</string>
      <string>uni0056</string>
      <string>uni0057</string>
      <string>uni0058</string>
      <string>uni0059</string>
      <string>uni005A</string>
      <string>uni00C0</string>
      <string>uni00C1</string>
      <string>uni00C2</string>
      <string>uni00C3</string>
      <string>uni00C4</string>
      <string>uni00C5</string>
      <string>uni00C7</string>
      <string>uni00C8</string>
      <string>uni00C9</string>
      <string>uni00CA</string>
      <string>uni00CB</string>
      <string>uni00CC</string>
      <string>uni00CD</string>
      <string>uni00CE</string>
      <string>uni00CF</string>
      <string>uni00D1</string>
      <string>uni00D2</string>
      <string>uni00D3</string>
      <string>uni00D4</string>
      <string>uni00D5</string>
      <string>uni00D6</string>
      <string>uni00D8</string>
      <string>uni00D9</string>
      <string>uni00DA</string>
      <string>uni00DB</string>
      <string>uni00DC</string>
      <string>uni00DD</string>
      <string>uni0100</string>
      <string>uni0102</string>
      <string>uni0104</string>
      <string>uni0106</string>
      <string>uni010C</string>
      <string>uni010E</string>
      <string>uni0110</string>
      <string>uni0112</string>
      <string>uni0116</string>
      <string>uni0118</string>
      <string>uni011A</string>
      <string>uni011E</string>
      <string>uni0122</string>
      <string>uni012A</string>
      <string>uni012E</string>
      <string>uni0130</string>
      <string>uni0136</string>
      <string>uni0139</string>
      <string>uni013B</string>
      <string>uni013D</string>
      <string>uni0141</string>
      <string>uni0143</string>
      <string>uni0145</string>
      <string>uni0147</string>
      <string>uni014C</string>
      <string>uni0150</string>
      <string>uni0154</string>
      <string>uni0156</string>
      <string>uni0158</string>
      <string>uni015A</string>
      <string>uni015E</string>
      <string>uni0160</string>
      <string>uni0162</string>
      <string>uni0164</string>
      <string>uni016A</string>
      <string>uni016E</string>
      <string>uni0170</string>
      <string>uni0172</string>
      <string>uni0178</string>
      <string>uni0179</string>
      <string>uni017B</string>
      <string>uni017D</string>
      <string>uni0218</string>
      <string>uni021A</string>
      <string>uni00E6</string>
      <string>uni00F0</string>
      <string>uni0131</string>
      <string>uni0153</string>
      <string>uni00FE</string>
      <string>uni00DF</string>
      <string>uni0061</string>
      <string>uni0062</string>
      <string>uni0063</string>
      <string>uni0064</string>
      <string>uni0065</string>
      <string>uni0066</string>
      <string>uni0067</string>
      <string>uni0068</string>
      <string>uni0069</string>
      <string>uni006A</string>
      <string>uni006B</string>
      <string>uni006C</string>
      <string>uni006D</string>
      <string>uni006E</string>
      <string>uni006F</string>
      <string>uni0070</string>
      <string>uni0071</string>
      <string>uni0072</string>
      <string>uni0073</string>
      <string>uni0074</string>
      <string>uni0075</string>
      <string>uni0076</string>
      <string>uni0077</string>
      <string>uni0078</string>
      <string>uni0079</string>
      <string>uni007A</string>
      <string>uni00E0</string>
      <string>uni00E1</string>
      <string>uni00E2</string>
      <string>uni00E3</string>
      <string>uni00E4</string>
      <string>uni00E5</string>
      <string>uni00E7</string>
      <string>uni00E8</string>
      <string>uni00E9</string>
      <string>uni00EA</string>
      <string>uni00EB</string>
      <string>uni00EC</string>
      <string>uni00ED</string>
      <string>uni00EE</string>
      <string>uni00EF</string>
      <string>uni00F1</string>
      <string>uni00F2</string>
      <string>uni00F3</string>
      <string>uni00F4</string>
      <string>uni00F5</string>
      <string>uni00F6</string>
      <string>uni00F8</string>
      <string>uni00F9</string>
      <string>uni00FA</string>
      <string>uni00FB</string>
      <string>uni00FC</string>
      <string>uni00FD</string>
      <string>uni00FF</string>
      <string>uni0101</string>
      <string>uni0103</string>
      <string>uni0105</string>
      <string>uni0107</string>
      <string>uni010D</string>
      <string>uni010F</string>
      <string>uni0111</string>
      <string>uni0113</string>
      <string>uni0117</string>
      <string>uni0119</string>
      <string>uni011B</string>
      <string>uni011F</string>
      <string>uni0123</string>
      <string>uni012B</string>
      <string>uni012F</string>
      <string>uni0137</string>
      <string>uni013A</string>
      <string>uni013C</string>
      <string>uni013E</string>
      <string>uni0142</string>
      <string>uni0144</string>
      <string>uni0146</string>
      <string>uni0148</string>
      <string>uni014D</string>
      <string>uni0151</string>
      <string>uni0155</string>
      <string>uni0157</string>
      <string>uni0159</string>
      <string>uni015B</string>
      <string>uni015F</string>
      <string>uni0161</string>
      <string>uni0163</string>
      <string>uni0165</string>
      <string>uni016B</string>
      <string>uni016F</string>
      <string>uni0171</string>
      <string>uni0173</string>
      <string>uni017A</string>
      <string>uni017C</string>
      <string>uni017E</string>
      <string>uni0219</string>
      <string>uni021B</string>
      <string>uniFB01</string>
      <string>uniFB02</string>
      <string>uni00AA</string>
      <string>uni00BA</string>
      <string>uni03C0</string>
      <string>uni0030</string>
      <string>uni0031</string>
      <string>uni0032</string>
      <string>uni0033</string>
      <string>uni0034</string>
      <string>uni0035</string>
      <string>uni0036</string>
      <string>uni0037</string>
      <string>uni0038</string>
      <string>uni0039</string>
      <string>uni2044</string>
      <string>uni00BD</string>
      <string>uni00BC</string>
      <string>uni00BE</string>
      <string>uni00B7</string>
      <string>uni0021</string>
      <string>uni0022</string>
      <string>uni0023</string>
      <string>uni0027</string>
      <string>uni002A</string>
      <string>uni002C</string>
      <string>uni002E</string>
      <string>uni002F</string>
      <string>uni003A</string>
      <string>uni003B</string>
      <string>uni003F</string>
      <string>uni005C</string>
      <string>uni005F</string>
      <string>uni00A1</string>
      <string>uni00BF</string>
      <string>uni2022</string>
      <string>uni2026</string>
      <string>uni0028</string>
      <string>uni0029</string>
      <string>uni005B</string>
      <string>uni005D</string>
      <string>uni007B</string>
      <string>uni007D</string>
      <string>uni002D</string>
      <string>uni2013</string>
      <string>uni2014</string>
      <string>uni00AB</string>
      <string>uni00BB</string>
      <string>uni2018</string>
      <string>uni2019</string>
      <string>uni201A</string>
      <string>uni201C</string>
      <string>uni201D</string>
      <string>uni201E</string>
      <string>uni2039</string>
      <string>uni203A</string>
      <string>uni0020</string>
      <string>uni0024</string>
      <string>uni00A2</string>
      <string>uni00A3</string>
      <string>uni00A4</string>
      <string>uni00A5</string>
      <string>uni0192</string>
      <string>uni20AC</string>
      <string>uni007E</string>
      <string>uni0025</string>
      <string>uni002B</string>
      <string>uni003C</string>
      <string>uni003D</string>
      <string>uni003E</string>
      <string>uni00AC</string>
      <string>uni00B1</string>
      <string>uni00B5</string>
      <string>uni00D7</string>
      <string>uni00F7</string>
      <string>uni2030</string>
      <string>uni2126</string>
      <string>uni2202</string>
      <string>uni2206</string>
      <string>uni220F</string>
      <string>uni2211</string>
      <string>uni2212</string>
      <string>uni2215</string>
      <string>uni2219</string>
      <string>uni221A</string>
      <string>uni221E</string>
      <string>uni222B</string>
      <string>uni2248</string>
      <string>uni2260</string>
      <string>uni2264</string>
      <string>uni2265</string>
      <string>uni25CA</string>
      <string>uni00A6</string>
      <string>uni0040</string>
      <string>uni0026</string>
      <string>uni00B6</string>
      <string>uni00A9</string>
      <string>uni00AE</string>
      <string>uni00A7</string>
      <string>uni2122</string>
      <string>uni00B0</string>
      <string>uni212E</string>
      <string>uni2113</string>
      <string>uni005E</string>
      <string>uni007C</string>
      <string>uni2020</string>
      <string>uni2021</string>
      <string>uni0060</string>
      <string>uni00A8</string>
      <string>uni00AF</string>
      <string>uni00B4</string>
      <string>uni00B8</string>
      <string>uni02C6</string>
      <string>uni02C7</string>
      <string>uni02D8</string>
      <string>uni02D9</string>
      <string>uni02DA</string>
      <string>uni02DB</string>
      <string>uni02DC</string>
      <string>uni02DD</string>
      <string>uni02C9</string>
      <string>si_Aae</string>
      <string>si_Aa</string>
      <string>si_A</string>
      <string>si_Ae</string>
      <string>si_Da</string>
      <string>si_Ba</string>
      <string>si_Ka</string>
      <string>si_Ga</string>
      <string>si_Lla</string>
      <string>si_La</string>
      <string>si_Ddha</string>
      <string>si_MatraAe</string>
      <string>si_MatraIi</string>
      <string>si_Ma</string>
      <string>si_Na</string>
      <string>si_NnI</string>
      <string>si_Pa</string>
      <string>si_Ra</string>
      <string>si_Nna</string>
      <string>si_Tta</string>
      <string>si_Ta</string>
      <string>si_Ssa</string>
      <string>si_Sa</string>
      <string>si_Va</string>
      <string>si_Ya</string>
    </array>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>DC4431BF-9234-4C16-9154-22D387E42D10</string>
  </dict>
</plist>
