<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>819</integer>
	<key>capHeight</key>
	<integer>0</integer>
	<key>copyright</key>
	<string>Copyright (c) 2015 mooniak (http://mooniak.com)</string>
	<key>descender</key>
	<integer>-250</integer>
	<key>familyName</key>
	<string>Post No Bills</string>
	<key>openTypeHeadCreated</key>
	<string>2017/01/29 21:42:25</string>
	<key>openTypeHheaAscender</key>
	<integer>922</integer>
	<key>openTypeHheaDescender</key>
	<integer>-234</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDesignerURL</key>
	<string>http://mooniak.com/type</string>
	<key>openTypeNameManufacturer</key>
	<string>mooniak &lt;http://mooniak.com&gt;</string>
	<key>openTypeNameManufacturerURL</key>
	<string>https://github.com/mooniak/stick-no-bills-font</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Post No Bills</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>light</string>
	<key>openTypeOS2TypoAscender</key>
	<integer>819</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-250</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>922</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>234</integer>
	<key>postscriptBlueValues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>StickNoBillsSinhala-light</string>
	<key>postscriptFullName</key>
	<string>Stick No Bills</string>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>0</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>0</integer>
	<key>styleMapFamilyName</key>
	<string>Stick No Bills Regular</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>light</string>
	<key>unitsPerEm</key>
	<integer>1069</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>300</integer>
	<key>xHeight</key>
	<integer>0</integer>
</dict>
</plist>
