<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>dottedcircle</key>
    <string>dottedcircle.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>tml_A</key>
    <string>tml_A_.glif</string>
    <key>tml_Aa</key>
    <string>tml_A_a.glif</string>
    <key>tml_Above</key>
    <string>tml_A_bove.glif</string>
    <key>tml_Ai</key>
    <string>tml_A_i.glif</string>
    <key>tml_Anusvara</key>
    <string>tml_A_nusvara.glif</string>
    <key>tml_Au</key>
    <string>tml_A_u.glif</string>
    <key>tml_AuLengthmark</key>
    <string>tml_A_uL_engthmark.glif</string>
    <key>tml_CI</key>
    <string>tml_C_I_.glif</string>
    <key>tml_CI.alt</key>
    <string>tml_C_I_.alt.glif</string>
    <key>tml_CIi</key>
    <string>tml_C_I_i.glif</string>
    <key>tml_CIi.alt</key>
    <string>tml_C_I_i.alt.glif</string>
    <key>tml_CU</key>
    <string>tml_C_U_.glif</string>
    <key>tml_CUu</key>
    <string>tml_C_U_u.glif</string>
    <key>tml_Ca</key>
    <string>tml_C_a.glif</string>
    <key>tml_Credit</key>
    <string>tml_C_redit.glif</string>
    <key>tml_Day</key>
    <string>tml_D_ay.glif</string>
    <key>tml_Debit</key>
    <string>tml_D_ebit.glif</string>
    <key>tml_E</key>
    <string>tml_E_.glif</string>
    <key>tml_Ee</key>
    <string>tml_E_e.glif</string>
    <key>tml_Eight</key>
    <string>tml_E_ight.glif</string>
    <key>tml_Five</key>
    <string>tml_F_ive.glif</string>
    <key>tml_Four</key>
    <string>tml_F_our.glif</string>
    <key>tml_HI</key>
    <string>tml_H_I_.glif</string>
    <key>tml_HIi</key>
    <string>tml_H_I_i.glif</string>
    <key>tml_HU</key>
    <string>tml_H_U_.glif</string>
    <key>tml_HUu</key>
    <string>tml_H_U_u.glif</string>
    <key>tml_Ha</key>
    <string>tml_H_a.glif</string>
    <key>tml_Hundred</key>
    <string>tml_H_undred.glif</string>
    <key>tml_I</key>
    <string>tml_I_.glif</string>
    <key>tml_Ii</key>
    <string>tml_I_i.glif</string>
    <key>tml_JI</key>
    <string>tml_J_I_.glif</string>
    <key>tml_JIi</key>
    <string>tml_J_I_i.glif</string>
    <key>tml_JU</key>
    <string>tml_J_U_.glif</string>
    <key>tml_JUu</key>
    <string>tml_J_U_u.glif</string>
    <key>tml_Ja</key>
    <string>tml_J_a.glif</string>
    <key>tml_KI</key>
    <string>tml_K_I_.glif</string>
    <key>tml_KI.alt</key>
    <string>tml_K_I_.alt.glif</string>
    <key>tml_KIi</key>
    <string>tml_K_I_i.glif</string>
    <key>tml_KIi.alt</key>
    <string>tml_K_I_i.alt.glif</string>
    <key>tml_KSsI</key>
    <string>tml_K_S_sI_.glif</string>
    <key>tml_KSsIi</key>
    <string>tml_K_S_sI_i.glif</string>
    <key>tml_KSsU</key>
    <string>tml_K_S_sU_.glif</string>
    <key>tml_KSsUu</key>
    <string>tml_K_S_sU_u.glif</string>
    <key>tml_KSsa</key>
    <string>tml_K_S_sa.glif</string>
    <key>tml_KU</key>
    <string>tml_K_U_.glif</string>
    <key>tml_KUu</key>
    <string>tml_K_U_u.glif</string>
    <key>tml_Ka</key>
    <string>tml_K_a.glif</string>
    <key>tml_LAi</key>
    <string>tml_L_A_i.glif</string>
    <key>tml_LI</key>
    <string>tml_L_I_.glif</string>
    <key>tml_LIi</key>
    <string>tml_L_I_i.glif</string>
    <key>tml_LU</key>
    <string>tml_L_U_.glif</string>
    <key>tml_LUu</key>
    <string>tml_L_U_u.glif</string>
    <key>tml_La</key>
    <string>tml_L_a.glif</string>
    <key>tml_LlAi</key>
    <string>tml_L_lA_i.glif</string>
    <key>tml_LlI</key>
    <string>tml_L_lI_.glif</string>
    <key>tml_LlIi</key>
    <string>tml_L_lI_i.glif</string>
    <key>tml_LlU</key>
    <string>tml_L_lU_.glif</string>
    <key>tml_LlUu</key>
    <string>tml_L_lU_u.glif</string>
    <key>tml_Lla</key>
    <string>tml_L_la.glif</string>
    <key>tml_LllI</key>
    <string>tml_L_llI_.glif</string>
    <key>tml_LllIi</key>
    <string>tml_L_llI_i.glif</string>
    <key>tml_LllU</key>
    <string>tml_L_llU_.glif</string>
    <key>tml_LllUu</key>
    <string>tml_L_llU_u.glif</string>
    <key>tml_Llla</key>
    <string>tml_L_lla.glif</string>
    <key>tml_MI</key>
    <string>tml_M_I_.glif</string>
    <key>tml_MIi</key>
    <string>tml_M_I_i.glif</string>
    <key>tml_MU</key>
    <string>tml_M_U_.glif</string>
    <key>tml_MUu</key>
    <string>tml_M_U_u.glif</string>
    <key>tml_Ma</key>
    <string>tml_M_a.glif</string>
    <key>tml_MatraAa</key>
    <string>tml_M_atraA_a.glif</string>
    <key>tml_MatraAi</key>
    <string>tml_M_atraA_i.glif</string>
    <key>tml_MatraAu</key>
    <string>tml_M_atraA_u.glif</string>
    <key>tml_MatraE</key>
    <string>tml_M_atraE_.glif</string>
    <key>tml_MatraEe</key>
    <string>tml_M_atraE_e.glif</string>
    <key>tml_MatraI</key>
    <string>tml_M_atraI_.glif</string>
    <key>tml_MatraIi</key>
    <string>tml_M_atraI_i.glif</string>
    <key>tml_MatraO</key>
    <string>tml_M_atraO_.glif</string>
    <key>tml_MatraOo</key>
    <string>tml_M_atraO_o.glif</string>
    <key>tml_MatraU</key>
    <string>tml_M_atraU_.glif</string>
    <key>tml_MatraUu</key>
    <string>tml_M_atraU_u.glif</string>
    <key>tml_Month</key>
    <string>tml_M_onth.glif</string>
    <key>tml_NI</key>
    <string>tml_N_I_.glif</string>
    <key>tml_NIi</key>
    <string>tml_N_I_i.glif</string>
    <key>tml_NU</key>
    <string>tml_N_U_.glif</string>
    <key>tml_NUu</key>
    <string>tml_N_U_u.glif</string>
    <key>tml_Na</key>
    <string>tml_N_a.glif</string>
    <key>tml_NgI</key>
    <string>tml_N_gI_.glif</string>
    <key>tml_NgIi</key>
    <string>tml_N_gI_i.glif</string>
    <key>tml_NgU</key>
    <string>tml_N_gU_.glif</string>
    <key>tml_NgUu</key>
    <string>tml_N_gU_u.glif</string>
    <key>tml_Nga</key>
    <string>tml_N_ga.glif</string>
    <key>tml_Nine</key>
    <string>tml_N_ine.glif</string>
    <key>tml_NnAa.alt</key>
    <string>tml_N_nA_a.alt.glif</string>
    <key>tml_NnAi</key>
    <string>tml_N_nA_i.glif</string>
    <key>tml_NnI</key>
    <string>tml_N_nI_.glif</string>
    <key>tml_NnIi</key>
    <string>tml_N_nI_i.glif</string>
    <key>tml_NnU</key>
    <string>tml_N_nU_.glif</string>
    <key>tml_NnUu</key>
    <string>tml_N_nU_u.glif</string>
    <key>tml_Nna</key>
    <string>tml_N_na.glif</string>
    <key>tml_NnnAa.alt</key>
    <string>tml_N_nnA_a.alt.glif</string>
    <key>tml_NnnAi</key>
    <string>tml_N_nnA_i.glif</string>
    <key>tml_NnnI</key>
    <string>tml_N_nnI_.glif</string>
    <key>tml_NnnIi</key>
    <string>tml_N_nnI_i.glif</string>
    <key>tml_NnnU</key>
    <string>tml_N_nnU_.glif</string>
    <key>tml_NnnUu</key>
    <string>tml_N_nnU_u.glif</string>
    <key>tml_Nnna</key>
    <string>tml_N_nna.glif</string>
    <key>tml_Number</key>
    <string>tml_N_umber.glif</string>
    <key>tml_NyI</key>
    <string>tml_N_yI_.glif</string>
    <key>tml_NyIi</key>
    <string>tml_N_yI_i.glif</string>
    <key>tml_NyU</key>
    <string>tml_N_yU_.glif</string>
    <key>tml_NyUu</key>
    <string>tml_N_yU_u.glif</string>
    <key>tml_Nya</key>
    <string>tml_N_ya.glif</string>
    <key>tml_O</key>
    <string>tml_O_.glif</string>
    <key>tml_Om</key>
    <string>tml_O_m.glif</string>
    <key>tml_One</key>
    <string>tml_O_ne.glif</string>
    <key>tml_Oo</key>
    <string>tml_O_o.glif</string>
    <key>tml_PI</key>
    <string>tml_P_I_.glif</string>
    <key>tml_PIi</key>
    <string>tml_P_I_i.glif</string>
    <key>tml_PU</key>
    <string>tml_P_U_.glif</string>
    <key>tml_PUu</key>
    <string>tml_P_U_u.glif</string>
    <key>tml_Pa</key>
    <string>tml_P_a.glif</string>
    <key>tml_RI</key>
    <string>tml_R_I_.glif</string>
    <key>tml_RI.alt</key>
    <string>tml_R_I_.alt.glif</string>
    <key>tml_RIi</key>
    <string>tml_R_I_i.glif</string>
    <key>tml_RIi.alt</key>
    <string>tml_R_I_i.alt.glif</string>
    <key>tml_RU</key>
    <string>tml_R_U_.glif</string>
    <key>tml_RUu</key>
    <string>tml_R_U_u.glif</string>
    <key>tml_RVirama.alt</key>
    <string>tml_R_V_irama.alt.glif</string>
    <key>tml_Ra</key>
    <string>tml_R_a.glif</string>
    <key>tml_RrAa.alt</key>
    <string>tml_R_rA_a.alt.glif</string>
    <key>tml_RrI</key>
    <string>tml_R_rI_.glif</string>
    <key>tml_RrIi</key>
    <string>tml_R_rI_i.glif</string>
    <key>tml_RrU</key>
    <string>tml_R_rU_.glif</string>
    <key>tml_RrUu</key>
    <string>tml_R_rU_u.glif</string>
    <key>tml_Rra</key>
    <string>tml_R_ra.glif</string>
    <key>tml_Rupee</key>
    <string>tml_R_upee.glif</string>
    <key>tml_SI</key>
    <string>tml_S_I_.glif</string>
    <key>tml_SIi</key>
    <string>tml_S_I_i.glif</string>
    <key>tml_SU</key>
    <string>tml_S_U_.glif</string>
    <key>tml_SUu</key>
    <string>tml_S_U_u.glif</string>
    <key>tml_Sa</key>
    <string>tml_S_a.glif</string>
    <key>tml_Seven</key>
    <string>tml_S_even.glif</string>
    <key>tml_ShI</key>
    <string>tml_S_hI_.glif</string>
    <key>tml_ShIi</key>
    <string>tml_S_hI_i.glif</string>
    <key>tml_ShU</key>
    <string>tml_S_hU_.glif</string>
    <key>tml_ShUu</key>
    <string>tml_S_hU_u.glif</string>
    <key>tml_Sha</key>
    <string>tml_S_ha.glif</string>
    <key>tml_Shree</key>
    <string>tml_S_hree.glif</string>
    <key>tml_Six</key>
    <string>tml_S_ix.glif</string>
    <key>tml_SsI</key>
    <string>tml_S_sI_.glif</string>
    <key>tml_SsIi</key>
    <string>tml_S_sI_i.glif</string>
    <key>tml_SsU</key>
    <string>tml_S_sU_.glif</string>
    <key>tml_SsUu</key>
    <string>tml_S_sU_u.glif</string>
    <key>tml_Ssa</key>
    <string>tml_S_sa.glif</string>
    <key>tml_TI</key>
    <string>tml_T_I_.glif</string>
    <key>tml_TI.alt</key>
    <string>tml_T_I_.alt.glif</string>
    <key>tml_TIi</key>
    <string>tml_T_I_i.glif</string>
    <key>tml_TIi.alt</key>
    <string>tml_T_I_i.alt.glif</string>
    <key>tml_TU</key>
    <string>tml_T_U_.glif</string>
    <key>tml_TUu</key>
    <string>tml_T_U_u.glif</string>
    <key>tml_Ta</key>
    <string>tml_T_a.glif</string>
    <key>tml_Ten</key>
    <string>tml_T_en.glif</string>
    <key>tml_Thousand</key>
    <string>tml_T_housand.glif</string>
    <key>tml_Three</key>
    <string>tml_T_hree.glif</string>
    <key>tml_TtI</key>
    <string>tml_T_tI_.glif</string>
    <key>tml_TtIi</key>
    <string>tml_T_tI_i.glif</string>
    <key>tml_TtU</key>
    <string>tml_T_tU_.glif</string>
    <key>tml_TtUu</key>
    <string>tml_T_tU_u.glif</string>
    <key>tml_Tta</key>
    <string>tml_T_ta.glif</string>
    <key>tml_Two</key>
    <string>tml_T_wo.glif</string>
    <key>tml_U</key>
    <string>tml_U_.glif</string>
    <key>tml_Uu</key>
    <string>tml_U_u.glif</string>
    <key>tml_VI</key>
    <string>tml_V_I_.glif</string>
    <key>tml_VIi</key>
    <string>tml_V_I_i.glif</string>
    <key>tml_VU</key>
    <string>tml_V_U_.glif</string>
    <key>tml_VUu</key>
    <string>tml_V_U_u.glif</string>
    <key>tml_Va</key>
    <string>tml_V_a.glif</string>
    <key>tml_Virama</key>
    <string>tml_V_irama.glif</string>
    <key>tml_Visarga</key>
    <string>tml_V_isarga.glif</string>
    <key>tml_YI</key>
    <string>tml_Y_I_.glif</string>
    <key>tml_YIi</key>
    <string>tml_Y_I_i.glif</string>
    <key>tml_YU</key>
    <string>tml_Y_U_.glif</string>
    <key>tml_YUu</key>
    <string>tml_Y_U_u.glif</string>
    <key>tml_Ya</key>
    <string>tml_Y_a.glif</string>
    <key>tml_Year</key>
    <string>tml_Y_ear.glif</string>
    <key>tml_Zero</key>
    <string>tml_Z_ero.glif</string>
    <key>zwj</key>
    <string>zwj.glif</string>
    <key>zwnj</key>
    <string>zwnj.glif</string>
  </dict>
</plist>
