<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.glyphOrder</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>AE</string>
      <string>B</string>
      <string>C</string>
      <string>Ccedilla</string>
      <string>D</string>
      <string>Eth</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Egrave</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Igrave</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>Lslash</string>
      <string>M</string>
      <string>N</string>
      <string>Ntilde</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>P</string>
      <string>Thorn</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>Scaron</string>
      <string>T</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ydieresis</string>
      <string>Z</string>
      <string>Zcaron</string>
      <string>a</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
      <string>b</string>
      <string>c</string>
      <string>ccedilla</string>
      <string>d</string>
      <string>eth</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>egrave</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>dotlessi</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>igrave</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>lslash</string>
      <string>m</string>
      <string>n</string>
      <string>ntilde</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>oe</string>
      <string>p</string>
      <string>thorn</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>scaron</string>
      <string>germandbls</string>
      <string>t</string>
      <string>u</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
      <string>z</string>
      <string>zcaron</string>
      <string>fi</string>
      <string>fl</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>mu</string>
      <string>HKD</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>fraction</string>
      <string>onehalf</string>
      <string>onequarter</string>
      <string>threequarters</string>
      <string>uni00B9</string>
      <string>uni00B2</string>
      <string>uni00B3</string>
      <string>asterisk</string>
      <string>backslash</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>colon</string>
      <string>comma</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>numbersign</string>
      <string>period</string>
      <string>question</string>
      <string>questiondown</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>semicolon</string>
      <string>slash</string>
      <string>underscore</string>
      <string>quotedbl.alt</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>parenleft</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>parenright</string>
      <string>emdash</string>
      <string>endash</string>
      <string>hyphen</string>
      <string>uni00AD</string>
      <string>guillemotleft</string>
      <string>guillemotright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>quotedblbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotesinglbase</string>
      <string>space</string>
      <string>uni007F</string>
      <string>EURO</string>
      <string>cent</string>
      <string>currency</string>
      <string>dollar</string>
      <string>florin</string>
      <string>sterling</string>
      <string>yen</string>
      <string>Percent_sign</string>
      <string>asciitilde</string>
      <string>divide</string>
      <string>equal</string>
      <string>greater</string>
      <string>less</string>
      <string>logicalnot</string>
      <string>minus</string>
      <string>multiply</string>
      <string>perthousand</string>
      <string>plus</string>
      <string>plusminus</string>
      <string>bar</string>
      <string>brokenbar</string>
      <string>at</string>
      <string>ampersand</string>
      <string>paragraph</string>
      <string>copyright</string>
      <string>registered</string>
      <string>section</string>
      <string>TradeMarkSign</string>
      <string>degree</string>
      <string>asciicircum</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>acute</string>
      <string>breve</string>
      <string>caron</string>
      <string>cedilla</string>
      <string>circumflex</string>
      <string>dieresis</string>
      <string>dotaccent</string>
      <string>grave</string>
      <string>hungarumlaut</string>
      <string>macron</string>
      <string>ring</string>
      <string>tilde</string>
    </array>
    <key>public.glyphOrder</key>
    <array>
      <string>space</string>
      <string>tml_A</string>
      <string>tml_Aa</string>
      <string>tml_I</string>
      <string>tml_Ii</string>
      <string>tml_U</string>
      <string>tml_Uu</string>
      <string>tml_E</string>
      <string>tml_Ee</string>
      <string>tml_Ai</string>
      <string>tml_O</string>
      <string>tml_Oo</string>
      <string>tml_Au</string>
      <string>tml_Ka</string>
      <string>tml_Nga</string>
      <string>tml_Ca</string>
      <string>tml_Ja</string>
      <string>tml_Nya</string>
      <string>tml_Tta</string>
      <string>tml_Nna</string>
      <string>tml_Ta</string>
      <string>tml_Na</string>
      <string>tml_Nnna</string>
      <string>tml_Pa</string>
      <string>tml_Ma</string>
      <string>tml_Ya</string>
      <string>tml_Ra</string>
      <string>tml_Rra</string>
      <string>tml_La</string>
      <string>tml_Lla</string>
      <string>tml_Llla</string>
      <string>tml_Va</string>
      <string>tml_Sha</string>
      <string>tml_Ssa</string>
      <string>tml_Sa</string>
      <string>tml_Ha</string>
      <string>tml_Om</string>
      <string>tml_Visarga</string>
      <string>tml_Ten</string>
      <string>tml_Hundred</string>
      <string>tml_Thousand</string>
      <string>tml_Zero</string>
      <string>tml_One</string>
      <string>tml_Two</string>
      <string>tml_Three</string>
      <string>tml_Four</string>
      <string>tml_Five</string>
      <string>tml_Six</string>
      <string>tml_Seven</string>
      <string>tml_Eight</string>
      <string>tml_Nine</string>
      <string>zwnj</string>
      <string>.notdef</string>
      <string>zwj</string>
      <string>tml_Rupee</string>
      <string>dottedcircle</string>
      <string>tml_Day</string>
      <string>tml_Month</string>
      <string>tml_Year</string>
      <string>tml_Debit</string>
      <string>tml_Credit</string>
      <string>tml_Above</string>
      <string>tml_Number</string>
      <string>tml_MatraIi</string>
      <string>tml_Virama</string>
      <string>tml_Anusvara</string>
      <string>tml_MatraAa</string>
      <string>tml_MatraI</string>
      <string>tml_MatraU</string>
      <string>tml_MatraUu</string>
      <string>tml_MatraE</string>
      <string>tml_MatraEe</string>
      <string>tml_MatraAi</string>
      <string>tml_MatraO</string>
      <string>tml_MatraOo</string>
      <string>tml_MatraAu</string>
      <string>tml_AuLengthmark</string>
      <string>tml_CI</string>
      <string>tml_CI.alt</string>
      <string>tml_CIi.alt</string>
      <string>tml_CIi</string>
      <string>tml_CU</string>
      <string>tml_CUu</string>
      <string>tml_HI</string>
      <string>tml_HIi</string>
      <string>tml_HU</string>
      <string>tml_HUu</string>
      <string>tml_JU</string>
      <string>tml_JUu</string>
      <string>tml_JI</string>
      <string>tml_KI.alt</string>
      <string>tml_JIi</string>
      <string>tml_KI</string>
      <string>tml_KIi.alt</string>
      <string>tml_KIi</string>
      <string>tml_KU</string>
      <string>tml_KSsa</string>
      <string>tml_KSsI</string>
      <string>tml_KSsIi</string>
      <string>tml_KSsU</string>
      <string>tml_KUu</string>
      <string>tml_KSsUu</string>
      <string>tml_LI</string>
      <string>tml_LlIi</string>
      <string>tml_LAi</string>
      <string>tml_LIi</string>
      <string>tml_LlI</string>
      <string>tml_LlAi</string>
      <string>tml_LllI</string>
      <string>tml_LllIi</string>
      <string>tml_LlU</string>
      <string>tml_LlUu</string>
      <string>tml_LllU</string>
      <string>tml_LllUu</string>
      <string>tml_LUu</string>
      <string>tml_LU</string>
      <string>tml_MI</string>
      <string>tml_MIi</string>
      <string>tml_MU</string>
      <string>tml_NgI</string>
      <string>tml_MUu</string>
      <string>tml_NgIi</string>
      <string>tml_NI</string>
      <string>tml_NgU</string>
      <string>tml_NIi</string>
      <string>tml_NgUu</string>
      <string>tml_NnAi</string>
      <string>tml_NnAa.alt</string>
      <string>tml_NnI</string>
      <string>tml_NnnAi</string>
      <string>tml_NnnI</string>
      <string>tml_NnnIi</string>
      <string>tml_NnnAa.alt</string>
      <string>tml_NnUu</string>
      <string>tml_NnIi</string>
      <string>tml_NnnUu</string>
      <string>tml_NUu</string>
      <string>tml_NnnU</string>
      <string>tml_NyI</string>
      <string>tml_NyIi</string>
      <string>tml_NnU</string>
      <string>tml_NU</string>
      <string>tml_NyU</string>
      <string>tml_NyUu</string>
      <string>tml_PIi</string>
      <string>tml_PU</string>
      <string>tml_PI</string>
      <string>tml_RI</string>
      <string>tml_RIi.alt</string>
      <string>tml_RIi</string>
      <string>tml_RrI</string>
      <string>tml_RrIi</string>
      <string>tml_RrAa.alt</string>
      <string>tml_PUu</string>
      <string>tml_RI.alt</string>
      <string>tml_RrUu</string>
      <string>tml_RrU</string>
      <string>tml_RVirama.alt</string>
      <string>tml_RU</string>
      <string>tml_RUu</string>
      <string>tml_ShI</string>
      <string>tml_ShU</string>
      <string>tml_ShIi</string>
      <string>tml_ShUu</string>
      <string>tml_SI</string>
      <string>tml_Shree</string>
      <string>tml_SIi</string>
      <string>tml_SsI</string>
      <string>tml_SsU</string>
      <string>tml_SsUu</string>
      <string>tml_SUu</string>
      <string>tml_SsIi</string>
      <string>tml_SU</string>
      <string>tml_TI</string>
      <string>tml_TI.alt</string>
      <string>tml_TIi</string>
      <string>tml_TIi.alt</string>
      <string>tml_TtIi</string>
      <string>tml_TtI</string>
      <string>tml_TtU</string>
      <string>tml_TUu</string>
      <string>tml_TtUu</string>
      <string>tml_TU</string>
      <string>tml_VI</string>
      <string>tml_VU</string>
      <string>tml_VIi</string>
      <string>tml_VUu</string>
      <string>tml_YU</string>
      <string>tml_YIi</string>
      <string>tml_YI</string>
      <string>tml_YUu</string>
    </array>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>DC4431BF-9234-4C16-9154-22D387E42D10</string>
    <key>com.schriftgestaltung.useNiceNames</key>
    <integer>0</integer>
  </dict>
</plist>
