<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>familyName</key>
    <string>Stick No Bills</string>
    <key>styleName</key>
    <string>Bold</string>
    <key>styleMapFamilyName</key>
    <string>Stick No Bills Regular</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>copyright</key>
    <string>Remove All VKern Pairs</string>
    <key>trademark</key>
    <string>STICK NO BILLS is a trademark of STICK NO BILLS Gallery, Sri Lanka &lt;http://sticknobillsonline.com&gt;</string>
    <key>unitsPerEm</key>
    <integer>1024</integer>
    <key>ascender</key>
    <integer>819</integer>
    <key>descender</key>
    <integer>-205</integer>
    <key>italicAngle</key>
    <real>0</real>
    <key>note</key>
    <string>2015-2-15: Created with FontForge (http://fontforge.org) The  Free Font Editor</string>
    <key>openTypeHeadCreated</key>
    <string>2015/04/20 08:24:28</string>
    <key>openTypeHheaAscender</key>
    <integer>918</integer>
    <key>openTypeHheaDescender</key>
    <integer>-205</integer>
    <key>openTypeHheaLineGap</key>
    <integer>94</integer>
    <key>openTypeNameDesigner</key>
    <string>Martyn Hodges &lt;allroundboatbuilder@yahoo.com&gt; , Kosala Senavirathne &lt;kosala@mooniak.com&gt;, mooniak &lt;hello@mooniak.com&gt;</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://type.mooniak.com/</string>
    <key>openTypeNameManufacturer</key>
    <string>mooniak &lt;http://mooniak.com&gt;</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://github.com/mooniak/stick-no-bills-font</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameVersion</key>
    <string>Version 1.0.1</string>
    <key>openTypeNameDescription</key>
    <string>Stick No Bills - is the bespoke typeface of STICK NO BILLS™ Poster Gallery in Galle, Sri Lanka. </string>
    <key>openTypeNamePreferredFamilyName</key>
    <string>Stick No Bills</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Regular</string>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2VendorID</key>
    <string>PfEd</string>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>819</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-205</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>94</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>918</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>205</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>1</integer>
    </array>
    <key>postscriptFontName</key>
    <string>StickNoBills-Bold</string>
    <key>postscriptFullName</key>
    <string>Stick No Bills</string>
    <key>postscriptWeightName</key>
    <string>Bold</string>
    <key>postscriptUnderlineThickness</key>
    <integer>51</integer>
    <key>postscriptUnderlinePosition</key>
    <integer>-102</integer>
  </dict>
</plist>
