<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>Cacute</key>
	<string>C_acute.glif</string>
	<key>Ccaron</key>
	<string>C_caron.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>anusvara</key>
	<string>anusvara.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>si_Aa</key>
	<string>si_A_a.glif</string>
	<key>si_Ae</key>
	<string>si_A_e.glif</string>
	<key>si_Ai</key>
	<string>si_A_i.glif</string>
	<key>si_CU</key>
	<string>si_C_U_.glif</string>
	<key>si_CUu</key>
	<string>si_C_U_u.glif</string>
	<key>si_ChI</key>
	<string>si_C_hI_.glif</string>
	<key>si_DDdh.halant</key>
	<string>si_D_D_dh.halant.glif</string>
	<key>si_DDhI</key>
	<string>si_D_D_hI_.glif</string>
	<key>si_DDhIi</key>
	<string>si_D_D_hI_i.glif</string>
	<key>si_DDhU</key>
	<string>si_D_D_hU_.glif</string>
	<key>si_DIi</key>
	<string>si_D_I_i.glif</string>
	<key>si_DUu</key>
	<string>si_D_U_u.glif</string>
	<key>si_DVU</key>
	<string>si_D_V_U_.glif</string>
	<key>si_DVUu</key>
	<string>si_D_V_U_u.glif</string>
	<key>si_DVa</key>
	<string>si_D_V_a.glif</string>
	<key>si_Dd.halant</key>
	<string>si_D_d.halant.glif</string>
	<key>si_DdI</key>
	<string>si_D_dI_.glif</string>
	<key>si_DdIi</key>
	<string>si_D_dI_i.glif</string>
	<key>si_DdRI</key>
	<string>si_D_dR_I_.glif</string>
	<key>si_DdRIi</key>
	<string>si_D_dR_I_i.glif</string>
	<key>si_DdU</key>
	<string>si_D_dU_.glif</string>
	<key>si_DdUu</key>
	<string>si_D_dU_u.glif</string>
	<key>si_DdhU</key>
	<string>si_D_dhU_.glif</string>
	<key>si_DdhUu</key>
	<string>si_D_dhU_u.glif</string>
	<key>si_Dh.halant</key>
	<string>si_D_h.halant.glif</string>
	<key>si_DhI</key>
	<string>si_D_hI_.glif</string>
	<key>si_DhIi</key>
	<string>si_D_hI_i.glif</string>
	<key>si_DhR.halant</key>
	<string>si_D_hR_.halant.glif</string>
	<key>si_DhRI</key>
	<string>si_D_hR_I_.glif</string>
	<key>si_DhRIi</key>
	<string>si_D_hR_I_i.glif</string>
	<key>si_DhU</key>
	<string>si_D_hU_.glif</string>
	<key>si_GDha</key>
	<string>si_G_D_ha.glif</string>
	<key>si_GI</key>
	<string>si_G_I_.glif</string>
	<key>si_GRI</key>
	<string>si_G_R_I_.glif</string>
	<key>si_GhI</key>
	<string>si_G_hI_.glif</string>
	<key>si_GhU</key>
	<string>si_G_hU_.glif</string>
	<key>si_HI</key>
	<string>si_H_I_.glif</string>
	<key>si_HU</key>
	<string>si_H_U_.glif</string>
	<key>si_HUu</key>
	<string>si_H_U_u.glif</string>
	<key>si_J.halant</key>
	<string>si_J_.halant.glif</string>
	<key>si_JI</key>
	<string>si_J_I_.glif</string>
	<key>si_JhU</key>
	<string>si_J_hU_.glif</string>
	<key>si_JhU.reph</key>
	<string>si_J_hU_.reph.glif</string>
	<key>si_JnyI</key>
	<string>si_J_nyI_.glif</string>
	<key>si_KI</key>
	<string>si_K_I_.glif</string>
	<key>si_KSs.halant</key>
	<string>si_K_S_s.halant.glif</string>
	<key>si_KSsI</key>
	<string>si_K_S_sI_.glif</string>
	<key>si_KSsIi</key>
	<string>si_K_S_sI_i.glif</string>
	<key>si_KSsU</key>
	<string>si_K_S_sU_.glif</string>
	<key>si_KSsUu</key>
	<string>si_K_S_sU_u.glif</string>
	<key>si_KSsa</key>
	<string>si_K_S_sa.glif</string>
	<key>si_KV.halant</key>
	<string>si_K_V_.halant.glif</string>
	<key>si_KVI</key>
	<string>si_K_V_I_.glif</string>
	<key>si_KVIi</key>
	<string>si_K_V_I_i.glif</string>
	<key>si_KVU</key>
	<string>si_K_V_U_.glif</string>
	<key>si_KVUu</key>
	<string>si_K_V_U_u.glif</string>
	<key>si_KVa</key>
	<string>si_K_V_a.glif</string>
	<key>si_LI</key>
	<string>si_L_I_.glif</string>
	<key>si_LU</key>
	<string>si_L_U_.glif</string>
	<key>si_LUu</key>
	<string>si_L_U_u.glif</string>
	<key>si_LlUu</key>
	<string>si_L_lU_u.glif</string>
	<key>si_MatraAa</key>
	<string>si_M_atraA_a.glif</string>
	<key>si_MatraAa.halant</key>
	<string>si_M_atraA_a.halant.glif</string>
	<key>si_MatraAae</key>
	<string>si_M_atraA_ae.glif</string>
	<key>si_MatraAe</key>
	<string>si_M_atraA_e.glif</string>
	<key>si_MatraAi</key>
	<string>si_M_atraA_i.glif</string>
	<key>si_MatraAu</key>
	<string>si_M_atraA_u.glif</string>
	<key>si_MatraE</key>
	<string>si_M_atraE_.glif</string>
	<key>si_MatraEe</key>
	<string>si_M_atraE_e.glif</string>
	<key>si_MatraI</key>
	<string>si_M_atraI_.glif</string>
	<key>si_MatraO</key>
	<string>si_M_atraO_.glif</string>
	<key>si_MatraOo</key>
	<string>si_M_atraO_o.glif</string>
	<key>si_MatraU</key>
	<string>si_M_atraU_.glif</string>
	<key>si_MatraUu</key>
	<string>si_M_atraU_u.glif</string>
	<key>si_ND.halant</key>
	<string>si_N_D_.halant.glif</string>
	<key>si_NDI</key>
	<string>si_N_D_I_.glif</string>
	<key>si_NDIi</key>
	<string>si_N_D_I_i.glif</string>
	<key>si_NDRI</key>
	<string>si_N_D_R_I_.glif</string>
	<key>si_NDRIi</key>
	<string>si_N_D_R_I_i.glif</string>
	<key>si_NDRa</key>
	<string>si_N_D_R_a.glif</string>
	<key>si_NDU</key>
	<string>si_N_D_U_.glif</string>
	<key>si_NDUu</key>
	<string>si_N_D_U_u.glif</string>
	<key>si_NDa</key>
	<string>si_N_D_a.glif</string>
	<key>si_NDh.halant</key>
	<string>si_N_D_h.halant.glif</string>
	<key>si_NDhI</key>
	<string>si_N_D_hI_.glif</string>
	<key>si_NDhIi</key>
	<string>si_N_D_hI_i.glif</string>
	<key>si_NDhU</key>
	<string>si_N_D_hU_.glif</string>
	<key>si_NDhUu</key>
	<string>si_N_D_hU_u.glif</string>
	<key>si_NDha</key>
	<string>si_N_D_ha.glif</string>
	<key>si_NI</key>
	<string>si_N_I_.glif</string>
	<key>si_NTh.halant</key>
	<string>si_N_T_h.halant.glif</string>
	<key>si_NThI</key>
	<string>si_N_T_hI_.glif</string>
	<key>si_NThIi</key>
	<string>si_N_T_hI_i.glif</string>
	<key>si_NThU</key>
	<string>si_N_T_hU_.glif</string>
	<key>si_NThUu</key>
	<string>si_N_T_hU_u.glif</string>
	<key>si_NTha</key>
	<string>si_N_T_ha.glif</string>
	<key>si_NU</key>
	<string>si_N_U_.glif</string>
	<key>si_NUu</key>
	<string>si_N_U_u.glif</string>
	<key>si_NV.halant</key>
	<string>si_N_V_.halant.glif</string>
	<key>si_NVI</key>
	<string>si_N_V_I_.glif</string>
	<key>si_NVIi</key>
	<string>si_N_V_I_i.glif</string>
	<key>si_NVU</key>
	<string>si_N_V_U_.glif</string>
	<key>si_NVUu</key>
	<string>si_N_V_U_u.glif</string>
	<key>si_NVa</key>
	<string>si_N_V_a.glif</string>
	<key>si_NdUu</key>
	<string>si_N_dU_u.glif</string>
	<key>si_Ndj.halant</key>
	<string>si_N_dj.halant.glif</string>
	<key>si_NdjU</key>
	<string>si_N_djU_.glif</string>
	<key>si_Nndd.halant</key>
	<string>si_N_ndd.halant.glif</string>
	<key>si_NnddI</key>
	<string>si_N_nddI_.glif</string>
	<key>si_NnddIi</key>
	<string>si_N_nddI_i.glif</string>
	<key>si_NnddU</key>
	<string>si_N_nddU_.glif</string>
	<key>si_NnddUu</key>
	<string>si_N_nddU_u.glif</string>
	<key>si_NngI</key>
	<string>si_N_ngI_.glif</string>
	<key>si_NyI</key>
	<string>si_N_yI_.glif</string>
	<key>si_PI</key>
	<string>si_P_I_.glif</string>
	<key>si_PRI</key>
	<string>si_P_R_I_.glif</string>
	<key>si_PU</key>
	<string>si_P_U_.glif</string>
	<key>si_PUu</key>
	<string>si_P_U_u.glif</string>
	<key>si_PhU</key>
	<string>si_P_hU_.glif</string>
	<key>si_PhUu</key>
	<string>si_P_hU_u.glif</string>
	<key>si_SI</key>
	<string>si_S_I_.glif</string>
	<key>si_SU</key>
	<string>si_S_U_.glif</string>
	<key>si_SUu</key>
	<string>si_S_U_u.glif</string>
	<key>si_ShI</key>
	<string>si_S_hI_.glif</string>
	<key>si_SsI</key>
	<string>si_S_sI_.glif</string>
	<key>si_SsU</key>
	<string>si_S_sU_.glif</string>
	<key>si_SsUu</key>
	<string>si_S_sU_u.glif</string>
	<key>si_TI</key>
	<string>si_T_I_.glif</string>
	<key>si_TRI</key>
	<string>si_T_R_I_.glif</string>
	<key>si_TTh.halant</key>
	<string>si_T_T_h.halant.glif</string>
	<key>si_TThI</key>
	<string>si_T_T_hI_.glif</string>
	<key>si_TThIi</key>
	<string>si_T_T_hI_i.glif</string>
	<key>si_TThU</key>
	<string>si_T_T_hU_.glif</string>
	<key>si_TThUu</key>
	<string>si_T_T_hU_u.glif</string>
	<key>si_TTha</key>
	<string>si_T_T_ha.glif</string>
	<key>si_TU</key>
	<string>si_T_U_.glif</string>
	<key>si_TUu</key>
	<string>si_T_U_u.glif</string>
	<key>si_TV.halant</key>
	<string>si_T_V_.halant.glif</string>
	<key>si_TVI</key>
	<string>si_T_V_I_.glif</string>
	<key>si_TVIi</key>
	<string>si_T_V_I_i.glif</string>
	<key>si_TVU</key>
	<string>si_T_V_U_.glif</string>
	<key>si_TVUu</key>
	<string>si_T_V_U_u.glif</string>
	<key>si_TVa</key>
	<string>si_T_V_a.glif</string>
	<key>si_ThU</key>
	<string>si_T_hU_.glif</string>
	<key>si_ThUu</key>
	<string>si_T_hU_u.glif</string>
	<key>si_TtTthU</key>
	<string>si_T_tT_thU_.glif</string>
	<key>si_TtTthUu</key>
	<string>si_T_tT_thU_u.glif</string>
	<key>si_TtU</key>
	<string>si_T_tU_.glif</string>
	<key>si_TtUu</key>
	<string>si_T_tU_u.glif</string>
	<key>si_TthU</key>
	<string>si_T_thU_.glif</string>
	<key>si_TthUu</key>
	<string>si_T_thU_u.glif</string>
	<key>si_U</key>
	<string>si_U_.glif</string>
	<key>si_Uu</key>
	<string>si_U_u.glif</string>
	<key>si_VU</key>
	<string>si_V_U_.glif</string>
	<key>si_VUu</key>
	<string>si_V_U_u.glif</string>
	<key>si_Y.post.halant</key>
	<string>si_Y_.post.halant.glif</string>
	<key>si_YU.post</key>
	<string>si_Y_U_.post.glif</string>
	<key>si_YUu.post</key>
	<string>si_Y_U_u.post.glif</string>
	<key>si_YUu.post.reph</key>
	<string>si_Y_U_u.post.reph.glif</string>
	<key>si_Ya.post</key>
	<string>si_Y_a.post.glif</string>
	<key>si_Ya.post.reph</key>
	<string>si_Y_a.post.reph.glif</string>
	<key>si_Yu.post.reph</key>
	<string>si_Y_u.post.reph.glif</string>
	<key>si_vocalicL</key>
	<string>si_vocalicL_.glif</string>
	<key>si_vocalicLL</key>
	<string>si_vocalicL_L_.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>tml_A</key>
	<string>tml_A_.glif</string>
	<key>tml_Aa</key>
	<string>tml_A_a.glif</string>
	<key>tml_Ca</key>
	<string>tml_C_a.glif</string>
	<key>tml_Day</key>
	<string>tml_D_ay.glif</string>
	<key>tml_Debit</key>
	<string>tml_D_ebit.glif</string>
	<key>tml_Eight</key>
	<string>tml_E_ight.glif</string>
	<key>tml_Hundred</key>
	<string>tml_H_undred.glif</string>
	<key>tml_Ii</key>
	<string>tml_I_i.glif</string>
	<key>tml_KSsa</key>
	<string>tml_K_S_sa.glif</string>
	<key>tml_Ka</key>
	<string>tml_K_a.glif</string>
	<key>tml_LU</key>
	<string>tml_L_U_.glif</string>
	<key>tml_La</key>
	<string>tml_L_a.glif</string>
	<key>tml_LlUu</key>
	<string>tml_L_lU_u.glif</string>
	<key>tml_Llla</key>
	<string>tml_L_lla.glif</string>
	<key>tml_MUu</key>
	<string>tml_M_U_u.glif</string>
	<key>tml_Ma</key>
	<string>tml_M_a.glif</string>
	<key>tml_MatraAa</key>
	<string>tml_M_atraA_a.glif</string>
	<key>tml_MatraAi</key>
	<string>tml_M_atraA_i.glif</string>
	<key>tml_MatraAu</key>
	<string>tml_M_atraA_u.glif</string>
	<key>tml_MatraE</key>
	<string>tml_M_atraE_.glif</string>
	<key>tml_MatraEe</key>
	<string>tml_M_atraE_e.glif</string>
	<key>tml_MatraI</key>
	<string>tml_M_atraI_.glif</string>
	<key>tml_MatraO</key>
	<string>tml_M_atraO_.glif</string>
	<key>tml_MatraOo</key>
	<string>tml_M_atraO_o.glif</string>
	<key>tml_MatraUu</key>
	<string>tml_M_atraU_u.glif</string>
	<key>tml_NUu</key>
	<string>tml_N_U_u.glif</string>
	<key>tml_Na</key>
	<string>tml_N_a.glif</string>
	<key>tml_NgUu</key>
	<string>tml_N_gU_u.glif</string>
	<key>tml_Nga</key>
	<string>tml_N_ga.glif</string>
	<key>tml_Nna</key>
	<string>tml_N_na.glif</string>
	<key>tml_NnnAa.alt</key>
	<string>tml_N_nnA_a.alt.glif</string>
	<key>tml_NnnUu</key>
	<string>tml_N_nnU_u.glif</string>
	<key>tml_Nnna</key>
	<string>tml_N_nna.glif</string>
	<key>tml_NyU</key>
	<string>tml_N_yU_.glif</string>
	<key>tml_NyUu</key>
	<string>tml_N_yU_u.glif</string>
	<key>tml_PU</key>
	<string>tml_P_U_.glif</string>
	<key>tml_PUu</key>
	<string>tml_P_U_u.glif</string>
	<key>tml_Pa</key>
	<string>tml_P_a.glif</string>
	<key>tml_RU</key>
	<string>tml_R_U_.glif</string>
	<key>tml_Ra</key>
	<string>tml_R_a.glif</string>
	<key>tml_RrAa.alt</key>
	<string>tml_R_rA_a.alt.glif</string>
	<key>tml_RrUu</key>
	<string>tml_R_rU_u.glif</string>
	<key>tml_Rupee</key>
	<string>tml_R_upee.glif</string>
	<key>tml_Shree</key>
	<string>tml_S_hree.glif</string>
	<key>tml_Ssa</key>
	<string>tml_S_sa.glif</string>
	<key>tml_TU</key>
	<string>tml_T_U_.glif</string>
	<key>tml_TUu</key>
	<string>tml_T_U_u.glif</string>
	<key>tml_Ten</key>
	<string>tml_T_en.glif</string>
	<key>tml_Three</key>
	<string>tml_T_hree.glif</string>
	<key>tml_TtU</key>
	<string>tml_T_tU_.glif</string>
	<key>tml_U</key>
	<string>tml_U_.glif</string>
	<key>tml_Va</key>
	<string>tml_V_a.glif</string>
	<key>tml_YUu</key>
	<string>tml_Y_U_u.glif</string>
	<key>uni00B5</key>
	<string>uni00B_5.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
